<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta name="keywords" content="网站开发,网站建设,网站设计,网站制作,网站定制,UI设计外包,前端开发外包,团队建站,个人建站,微信/webpp开发,手机站开发" />
	<meta name="description" content="雨说专注于企业网站建设,网站开发等服务;提供UI设计,前端开发,移动/微信开发等单项微服务；从业多年的专业领域精英为您提供优质服务。" />
	<title>网站开发,网站建设,网站设计,网站制作_雨说工作室</title>
    <link rel="stylesheet" href="/static/lib/css/mkui-0.5.css"/>
	<link rel="stylesheet" href="<%=base_url%>css/yuscms.css" />
    <link rel="stylesheet" href="/static/lib/css/swiper.min.css"/>
</head> 
<body>
	<% include header.html %>
	
	<!--banner 轮播图-->
	<section class="pt-18 bg-f5f5f5">
		<div class="swiper-container swiper-banner">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide">
		        	<a href="#"><img alt="高品质网站建设倡导者" src="<%=base_url%>img/img01.jpg"/></a>
		        </div>
		        <div class="swiper-slide">
		        	<a href="#"><img  alt="网站定制" src="<%=base_url%>img/img02.jpg"/></a>
		        </div>
		        <div class="swiper-slide">
		        	<a href="#"><img src="<%=base_url%>img/img01.jpg"/></a>
		        </div>
		        <div class="swiper-slide">
		        	<a href="#"><img src="<%=base_url%>img/img02.jpg"/></a>
		        </div>
		    </div>
		    <!-- 如果需要分页器 -->  
		    <div class="swiper-pagination"></div>
		</div>
	</section>
	
	<!--站内公告-->
	<section class="bg-f5f5f5 pt-10 pb-10 overflow-h">
		<div class="w-1280">
			<div class="w50 fl">
				<span class="notice fl f-14 c-fff">站内公告</span>
				<ul class="notice-list fl ml-20 mt-8 h-20 overflow-h">
					<li>
						<a href="#"><i class="icon icon-circle"></i><span>雨说工作室正式上线啦！优惠中....</span><time class="ml-20">2017-12-21</time></a>
					</li>
					<li> 
						<a href="#"><i class="icon icon-circle"></i><span>雨说工作室正式上线啦！优惠中....</span><time class="ml-20">2017-12-21</time></a>
					</li>
				</ul>
			</div>
			<div class="w50 fl">
				<span class="notice fl f-14 c-fff">最新签约</span>
				<ul class="notice-list fl ml-20 mt-8 h-20 overflow-h">
					<li>
						<a href="#"><i class="icon icon-circle"></i><span>雨说科技正式上线啦！优惠中....</span><time class="ml-20">2017-12-21</time></a>
					</li>
					<li>
						<a href="#"><i class="icon icon-circle"></i><span>雨说科技正式上线啦！优惠中....</span><time class="ml-20">2017-12-21</time></a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	
	<!--我们提供服务-->
	<section>
		<div class="w-1280 pt-40 pb-40">
			<div class="text-c">
				<p class="f-24 c-333">我们提供服务</p>
				<p class="f-14 c-333">—— The services we provide ——</p>
				<p class="f-12 c-999 mt-6">专注于网站建设，重视您的品牌，是我们合作的先决条件</p>
			</div>
			<div class="column mt-30 pl-20 pr-20">
				<ul>
					<li>
						<div class="text-c">
							<a href="#">
								<span class="category"><img src="<%=base_url%>img/icon-kaifa.png"/></span>
								<span class="mt-20 f-20 c-62a1e1 block">网站设计与开发</span>
							</a>
						</div>
						<div class="mt-10 f-12 c-666">
							<p class="mt-20 line-h24 f-14 justify">
								高端网站建设，为您定制专属于您的网站，彰显品牌形象。
								基于公司特点，提供高品质UI设计，前端开发，后台系统研发，数据库设计等服务。
								基于node自研发cms系统，放心，便捷。</p>
						</div>
					</li>
					<li>
						<div class="text-c">
							<a href="#">
								<span class="category"><img src="<%=base_url%>img/icon-shouji.png"/></span>
								<span class="mt-20 f-20 c-62a1e1 block">手机微网站</span>
							</a>
						</div>
						<div class="mt-10 f-12 c-666">
							<p class="mt-20 line-h24  f-14 justify">定制手机微网站制作，布局移动互联网。<br/>支持微信、手机浏览器访问、app嵌入访问。</p>
						</div>
					</li>
					<li>
						<div class="text-c">
							<a href="#">
								<span class="category"><img src="<%=base_url%>img/icon-kaifa.png"/></span>
								<span class="mt-20 f-20 c-62a1e1 block">网站托管</span>
							</a>
						</div>
						<div class="mt-10 f-12 c-666">
							<p class="mt-20 line-h24 f-14 justify">
								网站全权托管，便于中小企业减少网站运营成本，提升网站运营效果。<br/>
								包括：内容编辑，SEO优化，数据备份，域名空间续费备案，稳定访问。
							</p>
						</div>
					</li>
					<li>
						<div class="text-c">
							<a href="#">
								<span class="category"><img src="<%=base_url%>img/icon-weifuwu.png"/></span>
								<span class="mt-20 f-20 c-62a1e1 block">微服务</span>
							</a>
						</div>
						<div class="mt-10 f-12 c-666">
							<p class="mt-20 line-h24  f-14 justify">
								提供微服务，灵活服务于各类不同客户需求。<br/>
								主要包括：UI设计，页面制作，前端数据交互，网站基本优化。
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	
	<!--网站案例-->
	<section class="w-1280 pt-40 pb-40 overflow-h">
		<div class="text-c">
			<p class="f-24 c-333">网站案例</p>
			<p class="f-14 c-333">—— CASE ——</p>
			<p class="f-12 c-999 mt-6">触及视觉灵魂的设计，精心布局的用户体验</p>
		</div>
		<div class="case mt-30 pl-20 pr-20">
			<div class="case-th text-c">
				<span>PC网站</span>
				<span>PC网站</span>
				<span>PC网站</span>
				<span>PC网站</span>
			</div>
			<div class="case-tc mt-30">
				<div>
					<ul>
						<li>
							<a href="#">
								<figure>
									<img src="<%=base_url%>img/img-case01.png" alt="" />
								</figure>
								<p class="pt-15 pb-15 pl-10 f-14"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="<%=base_url%>img/img-case01.png" alt="" />
								</figure>
								<p class="pt-15 pb-15 pl-10 f-14"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="<%=base_url%>img/img-case01.png" alt="" />
								</figure>
								<p class="pt-15 pb-15 pl-10 f-14"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="<%=base_url%>img/img-case01.png" alt="" />
								</figure>
								<p class="pt-15 pb-15 pl-10 f-14"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="<%=base_url%>img/img-case01.png" alt="" />
								</figure>
								<p class="pt-15 pb-15 pl-10 f-14"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="<%=base_url%>img/img-case01.png" alt="" />
								</figure>
								<p class="pt-15 pb-15 pl-10 f-14"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							</a>
						</li>
						<li>’
							<a href="#">
								<figure>
									<img src="<%=base_url%>img/img-case01.png" alt="" />
								</figure>
								<p class="pt-15 pb-15 pl-10 f-14"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							</a>
						</li>
						<li>
							<a href="#">
								<figure>
									<img src="<%=base_url%>img/img-case01.png" alt="" />
								</figure>
								<p class="pt-15 pb-15 pl-10 f-14"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							</a>
						</li>
					</ul>
					<p class="case-more text-c">
						<a href="#"><i class="icon icon-big-more"></i></a>
					</p> 
				</div>
			</div>
		</div>
	</section>
	
	<!--服务流程-->
    <section class="service-bg">
    	<div class="w-1280 pt-40 pb-40">
    		<div class="text-c">
				<p class="f-24 c-fff">服务流程</p>
				<p class="f-14 c-999">——SHARE——</p>
				<p class="f-12 c-999 mt-6">我们把握每一个服务环节，致力于为您提供最优质的服务</p>
			</div>
			<div class="service-flow mt-30 pl-20 pr-20 overflow-h">
				<ul>
					<li>
						<figure><img src="<%=base_url%>img/icon-demand.png"/></figure>
						<span>提交需求</span>
					</li>
					<li>
						<figure><img src="<%=base_url%>img/icon-assessment.png"/></figure>
						<span>评估项目</span>
					</li>
					<li>
						<figure><img src="<%=base_url%>img/icon-startup.png"/></figure>
						<span>启动项目</span>
					</li>
					<li>
						<figure><img src="<%=base_url%>img/icon-test.png"/></figure>
						<span>测试及验收</span>
					</li>
					<li>
						<figure><img src="<%=base_url%>img/icon-deliver.png"/></figure>
						<span>交付确认</span>
					</li>
					<li>
						<figure><img src="<%=base_url%>img/icon-maintain.png"/></figure>
						<span>后期维护</span>
					</li>
				</ul>
			</div>
    	</div>
	</section>
	
	<!--建站分享-->
	<section class="w-1280 pt-40 pb-40">
		<div class="text-c">
			<p class="f-24 c-333">建站分享</p>
			<p class="f-14 c-333">—— SHARE ——</p>
			<p class="f-12 c-999 mt-6">最专业最受欢迎的建站案例，专注于打造最美好的用户体验</p>
		</div>
		<div class="share mt-30">
			<div class="share-th text-c pl-20 pr-20">
				<span>PC设计</span>
				<span>app设计</span>
			</div>
			<div class="share-tc">
				<div>
					<ul>
						<li>
							<a href="#">
								<figure class="fl">
									<img src="<%=base_url%>img/img-share01.png" alt="" />
								</figure>
								<div class="share-info fl">
									<p class="share-info-title pb-10 f-14 c-333 nowrap">品牌如何脱颖而出，她总结一套破局的要诀品牌如何脱颖而出，她总结一套破局的要诀</p>
									<hr class="hr-line1" />
									<p class="line-clamp-3 f-14 c-999 mt-10 justify">摘要：虽然不断有新的商业品牌产生，它们在产品和商业模式有一定的领先性，但是在品牌的战略布局、表现体验上依然存在同质化的问题。如何破局？但是在品牌的战略布局、表现体验上依然存在同质化的问题。</p>
									<p class="f-14 c-999 mt-5">2017-12-21</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<figure class="fl">
									<img src="<%=base_url%>img/img-share01.png" alt="" />
								</figure>
								<div class="share-info fl">
									<p class="share-info-title pb-10 f-14 c-333 nowrap">品牌如何脱颖而出，她总结一套破局的要诀</p>
									<hr class="hr-line1" />
									<p class="line-clamp-3 f-14 c-999 mt-22 justify">摘要：虽然不断有新的商业品牌产生，它们在产品和商业模式有一定的领先性，但是在品牌的战略布局、表现体验上依然存在同质化的问题。如何破局？但是在品牌的战略布局、表现体验上依然存在同质化的问题。</p>
									<p class="f-14 c-999 mt-5">2017-12-21</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<figure class="fl">
									<img src="<%=base_url%>img/img-share01.png" alt="" />
								</figure>
								<div class="share-info fl">
									<p class="share-info-title pb-10 f-14 c-333 nowrap">品牌如何脱颖而出，她总结一套破局的要诀</p>
									<hr class="hr-line1" />
									<p class="line-clamp-3 f-14 c-999 mt-22 justify">摘要：虽然不断有新的商业品牌产生，它们在产品和商业模式有一定的领先性，但是在品牌的战略布局、表现体验上依然存在同质化的问题。如何破局？但是在品牌的战略布局、表现体验上依然存在同质化的问题。</p>
									<p class="f-14 c-999 mt-5">2017-12-21</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<figure class="fl">
									<img src="<%=base_url%>img/img-share01.png" alt="" />
								</figure>
								<div class="share-info fl">
									<p class="share-info-title pb-10 f-14 c-333 nowrap">品牌如何脱颖而出，她总结一套破局的要诀</p>
									<hr class="hr-line1" />
									<p class="line-clamp-3 f-14 c-999 mt-22 justify">摘要：虽然不断有新的商业品牌产生，它们在产品和商业模式有一定的领先性，但是在品牌的战略布局、表现体验上依然存在同质化的问题。如何破局？</p>
									<p class="f-14 c-999 mt-6"><span>2017-12-21</span></p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<figure class="fl">
									<img src="<%=base_url%>img/img-share01.png" alt="" />
								</figure>
								<div class="share-info fl">
									<p class="share-info-title pb-10 f-14 c-333 nowrap">品牌如何脱颖而出，她总结一套破局的要诀</p>
									<hr class="hr-line1" />
									<p class="share-info-abstract f-14 c-999 mt-22 justify">摘要：虽然不断有新的商业品牌产生，它们在产品和商业模式有一定的领先性，但是在品牌的战略布局、表现体验上依然存在同质化的问题。如何破局？</p>
									<p class="f-14 c-999 mt-5">2017-12-21</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<figure class="fl">
									<img src="<%=base_url%>img/img-share01.png" alt="" />
								</figure>
								<div class="share-info fl">
									<p class="share-info-title pb-10 f-14 c-333 nowrap">品牌如何脱颖而出，她总结一套破局的要诀</p>
									<hr class="hr-line1" />
									<p class="share-info-abstract f-14 c-999 mt-22 justify">摘要：虽然不断有新的商业品牌产生，它们在产品和商业模式有一定的领先性，但是在品牌的战略布局、表现体验上依然存在同质化的问题。如何破局？</p>
									<p class="f-14 c-999 mt-6"><span>2017-12-21</span></p>
								</div>
							</a>
						</li>
					</ul>
					<p class="share-more text-c">
						<a href="#"><i class="icon icon-big-more"></i></a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<% include footer.html %>
	
	<script src="/static/lib/js/jquery-2.0.3.min.js"></script> 
	<script src="/static/lib/js/swiper.min.js"></script>
	<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container',{
		    loop: true,
			speed:600,
		    pagination: {
				el:'.swiper-pagination',
				clickable :true,
			},
	        paginationClickable: true,
	        spaceBetween: 0,
	        centeredSlides: true,
	        autoplay:{
				delay: 3000,
			},
	        autoplayDisableOnInteraction: false
		});  
	</script>

</body>
</html>    