<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>网站开发,网站建设,网站设计,网站制作_雨说工作室</title>
	<meta name="keywords" content="网站开发,网站建设,网站设计,网站制作,网站定制,UI设计外包,前端开发外包,团队建站,个人建站,微信/webpp开发,手机站开发" />
	<meta name="description" content="雨说专注于企业网站建设,网站开发等服务;提供UI设计,前端开发,移动/微信开发等单项微服务；从业多年的专业领域精英为您提供优质服务。" />
    <link rel="stylesheet" href="/static/lib/css/mkui-0.5.css"/>
   <link rel="stylesheet" href="<%=base_url%>css/yuscms.css" />
</head> 
<body>
	<!--头部导航-->
	<section class="w100 h-66 box-shadow">
		<div class="top w-1280 h100">
			<a href="#index-link" class="logo fl"><img src="<%=base_url%>img/logo.png"/></a>
			<nav class="top_nav fl">
				<a href="#">首页</a>
				<a href="#">企业建站</a>
				<a href="#">微服务</a>
				<a href="#">网站案例</a>
				<a href="#">最新签约</a>
				<a href="#">建站分享</a>
				<a href="#">团队介绍</a>
				<a href="#">联系我们</a>
			</nav>
			
			<div class="search fr">
				<input class="fl" type="text" type="search" placeholder="输入搜索内容" />
				<button class="search_btn fr"><i class="icon icon-search"></i></button>
			</div>
		</div>
	</section>
	
	<!--搜索列表-->
	<section>
		<div class="pt-8 pb-8 box-shadow">
			<a class="w-1280 block" href="#"><img src="<%=base_url%>img/adv01.jpg"/></a>
		</div>
		<div class="search-th w-1280 pt-20 pb-20 overflow-h">
			<ul>
				<li class="current">全部</li>
				<li>企业管理</li>
				<li>地方门户</li>
				<li>教育</li>
				<li>金融财经</li>
				<li>医疗</li>
				<li>电商</li>
				<li>知识管理</li>
				<li>媒体</li>
			</ul>
		</div>
		<div class="search-sub-th text-c pt-20 pb-20 f-14 c-999 overflow-h">
			<span class="current">最新发布</span>
			<span>浏览最多</span>
			<span>点赞最多</span>
		</div>
	</section>
	
	<!--网站案例-->
	<section class="bg-f5f5f5">
		<div class="search-tc w-1280 pt-20 pb-20 pl-10 pr-10 overflow-h">
			<ul>
				<li>
					<a href="#">
						<figure>
							<img src="<%=base_url%>img/list01.png" alt="" />
						</figure>
						<div class="pl-10 pr-10 pt-10 pb-10 overflow-h">
							<p class="f-14 nowrap"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							<p class="pt-5 f-14 c-999 nowrap">案例-服务门户/社交</p>
							<p class="pt-8 f-14 c-999 overflow-h"><span class="fl"><i class="icon icon-volume"></i>214</span><span class="ml-30 fl"><i class="icon icon-zan"></i>214</span><span class="fr"><i class="icon icon-time"></i>214</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<figure>
							<img src="<%=base_url%>img/list01.png" alt="" />
						</figure>
						<div class="pl-10 pr-10 pt-10 pb-10 overflow-h">
							<p class="f-14 nowrap"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							<p class="pt-5 f-14 c-999 nowrap">案例-服务门户/社交</p>
							<p class="pt-8 f-14 c-999 overflow-h"><span class="fl"><i class="icon icon-volume"></i>214</span><span class="ml-30 fl"><i class="icon icon-zan"></i>214</span><span class="fr"><i class="icon icon-time"></i>214</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<figure>
							<img src="<%=base_url%>img/list01.png" alt="" />
						</figure>
						<div class="pl-10 pr-10 pt-10 pb-10 overflow-h">
							<p class="f-14 nowrap"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							<p class="pt-5 f-14 c-999 nowrap">案例-服务门户/社交</p>
							<p class="pt-8 f-14 c-999 overflow-h"><span class="fl"><i class="icon icon-volume"></i>214</span><span class="ml-30 fl"><i class="icon icon-zan"></i>214</span><span class="fr"><i class="icon icon-time"></i>214</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<figure>
							<img src="<%=base_url%>img/list01.png" alt="" />
						</figure>
						<div class="pl-10 pr-10 pt-10 pb-10 overflow-h">
							<p class="f-14 nowrap"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							<p class="pt-5 f-14 c-999 nowrap">案例-服务门户/社交</p>
							<p class="pt-8 f-14 c-999 overflow-h"><span class="fl"><i class="icon icon-volume"></i>214</span><span class="ml-30 fl"><i class="icon icon-zan"></i>214</span><span class="fr"><i class="icon icon-time"></i>214</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<figure>
							<img src="<%=base_url%>img/list01.png" alt="" />
						</figure>
						<div class="pl-10 pr-10 pt-10 pb-10 overflow-h">
							<p class="f-14 nowrap"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							<p class="pt-5 f-14 c-999 nowrap">案例-服务门户/社交</p>
							<p class="pt-8 f-14 c-999 overflow-h"><span class="fl"><i class="icon icon-volume"></i>214</span><span class="ml-30 fl"><i class="icon icon-zan"></i>214</span><span class="fr"><i class="icon icon-time"></i>214</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<figure>
							<img src="<%=base_url%>img/list01.png" alt="" />
						</figure>
						<div class="pl-10 pr-10 pt-10 pb-10 overflow-h">
							<p class="f-14 nowrap"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							<p class="pt-5 f-14 c-999 nowrap">案例-服务门户/社交</p>
							<p class="pt-8 f-14 c-999 overflow-h"><span class="fl"><i class="icon icon-volume"></i>214</span><span class="ml-30 fl"><i class="icon icon-zan"></i>214</span><span class="fr"><i class="icon icon-time"></i>214</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<figure>
							<img src="<%=base_url%>img/list01.png" alt="" />
						</figure>
						<div class="pl-10 pr-10 pt-10 pb-10 overflow-h">
							<p class="f-14 nowrap"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							<p class="pt-5 f-14 c-999 nowrap">案例-服务门户/社交</p>
							<p class="pt-8 f-14 c-999 overflow-h"><span class="fl"><i class="icon icon-volume"></i>214</span><span class="ml-30 fl"><i class="icon icon-zan"></i>214</span><span class="fr"><i class="icon icon-time"></i>214</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<figure>
							<img src="<%=base_url%>img/list01.png" alt="" />
						</figure>
						<div class="pl-10 pr-10 pt-10 pb-10 overflow-h">
							<p class="f-14 nowrap"><span class="c-f96868">【响应式】</span><span class="c-333">家政公司网站建设</span></p>
							<p class="pt-5 f-14 c-999 nowrap">案例-服务门户/社交</p>
							<p class="pt-8 f-14 c-999 overflow-h"><span class="fl"><i class="icon icon-volume"></i>214</span><span class="ml-30 fl"><i class="icon icon-zan"></i>214</span><span class="fr"><i class="icon icon-time"></i>2018-02-22</span></p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
	
	<section class="bg-f5f5f5 pb-30">
		<div id="pageTool">
		</div>
	</section>
	
	<section class="bg-f5f5f5">
		<div class="w-1280 mt-30 pb-40">
			<a href="#"><img src="<%=base_url%>img/adv02.jpg"/></a>
		</div>
	</section>
		
	<!--footer-->
	<footer class="bg-333">
		<div class="w-1280 pt-40 pl-20 pr-20">
			<div class="overflow-h pb-20 f-14 c-999">
				<div class="left w33 fl pr-20">
					<p class="f-16 c-ccc">联系我们：</p>
					<div class="contact-link mt-30">
						<a href="#"><img src="<%=base_url%>img/icon-weixin.png" alt="" /></a>
						<a href="#"><img src="<%=base_url%>img/icon-qq.png" alt="" /></a>
					</div>
					<p class="line-h40"><span class="mr-40">北京分部：879869899</span><span class="mr-40">上海分部：879869899</span><span class="mr-40">苏州分部：879869899</span></p>
				</div>
				<div class="middle w33 fl pr-20">
					<p class="f-16 c-ccc">合作伙伴：</p>
					<div class="hot-link mt-30">
						<a href="#"><img src="<%=base_url%>img/icon-baidu.png" alt="" /></a>
						<a href="#"><img src="<%=base_url%>img/icon-360.png" alt="" /></a>
						<a href="#"><img src="<%=base_url%>img/icon-sogou.png" alt="" /></a>
						<a href="#"><img src="<%=base_url%>img/icon-caifutong.png" alt="" /></a>
						<a href="#"><img src="<%=base_url%>img/icon-zhifubao.png" alt="" /></a>
					</div>
				</div>
				<div class="right w33 fl pr-20">
					<p class="f-16 c-ccc">友情链接 : </p>
					<p class="friendship-link mt-20 line-h40">
						<a>北京网站</a>/<a>河北网站</a>/<a>上海网站</a>/<a>河北网站</a>/<a>北京网站</a>/<a>北京网站</a>/<a>河北网站</a>/<a>北京网站</a>/<a>河北网站</a>/<a>北京网站</a>/<a>河北网站</a>/<a>北京网站</a>
					</p>
				</div>
			</div>
		</div>
		<p class="copyright pos-r pt-16 pb-16 text-c f-14 c-999">京ICP备8888888 Copyright © 2008-2016 雨说科技 粤ICP备10235580号</p>
	</footer>
	
	
	<script src="lib/js/jquery-2.0.3.min.js"></script> 
	<script src="lib/js/query.js"></script>
	<script src="lib/js/paging.js"></script>
	<script type="text/javascript">
		$('#pageTool').Paging({
			pagesize: 3,
			count: 10,
			callback: function(page, size, count) {
				//console.log(arguments)
				//alert('当前第 ' + page + '页,每页 ' + size + '条,总页数：' + count + '页')
			}
		});
	</script>

</body>
</html>    