<!--头部导航-->
<header class="w100 h-66 box-shadow">
    <div class="top w-1280 h100">
        <h1 class="logo fl" title="雨说工作室"><img alt="yuscms雨说工作室" src="<%=base_url%>img/logo.png"/></h1>
        <nav class="top_nav fl">
            <a title="建站" href="#">首页</a>
            <a title="企业建站" href="#">企业建站</a>
            <a title="微服务" href="#">微服务</a>
            <a title="网站案例" href="#">网站案例</a>
            <a title="最新签约" href="#">最新签约</a>
            <a title="建站分享" href="#">建站分享</a>
            <a title="团队介绍" href="#">团队介绍</a>
            <a title="联系我们" href="#">联系我们</a>
        </nav>
        
        <div class="search fr">
            <input class="fl" type="text" type="search" placeholder="输入搜索内容" />
            <button class="search_btn fr"><i class="icon icon-search"></i></button>
        </div>
    </div>
</header>