
	<!--footer-->
	<footer class="bg-333">
		<div class="w-1280 pt-40 pl-20 pr-20">
			<div class="overflow-h pb-20 f-14 c-999">
				<div class="left w33 fl pr-20">
					<p class="f-16 c-ccc">联系我们：</p>
					<div class="contact-link mt-30">
						<a href="#"><img src="<%=base_url%>img/icon-weixin.png" alt="" /></a>
						<a href="#"><img src="<%=base_url%>img/icon-qq.png" alt="" /></a>
					</div>
					<p class="line-h40"><span class="mr-40">联系电话：133 6682 6071（注：先加微信洽谈，微信号为此手机号）</span></p>
				</div>
				<div class="middle w33 fl pr-20">
					<p class="f-16 c-ccc">合作伙伴：</p>
					<div class="hot-link mt-30">
						<a><img src="<%=base_url%>img/icon-baidu.png"/></a>
						<a><img src="<%=base_url%>img/icon-360.png"/></a>
						<a><img src="<%=base_url%>img/icon-sogou.png"/></a>
						<a><img src="<%=base_url%>img/icon-caifutong.png"/></a>
						<a><img src="<%=base_url%>img/icon-zhifubao.png"/></a>
					</div>
				</div>
				<div class="right w33 fl pr-20">
					<p class="f-16 c-ccc">友情链接 : </p>
					<p class="friendship-link mt-20 line-h40">
						<a>北京网站</a>/<a>河北网站</a>/<a>上海网站</a>/<a>河北网站</a>/<a>北京网站</a>/<a>北京网站</a>/<a>河北网站</a>/<a>北京网站</a>/<a>河北网站</a>/<a>北京网站</a>/<a>河北网站</a>/<a>北京网站</a>
					</p>
				</div>
			</div>
		</div>
		<p class="copyright pos-r pt-16 pb-16 text-c f-14 c-999">京ICP备8888888 Copyright © 2008-2016 雨说科技 粤ICP备10235580号</p>
	</footer>
	