<!DOCTYPE html>
<html>

<head>
	<%- include('meta.html') %>
	<meta name="keywords" content="<%=site.keywords%>" />
	<meta name="description" content="<%=site.description%>" />
	<link rel="stylesheet" type="text/css" href="<%=base_url%>/pc/css/mkui.css" />
	<link rel="stylesheet" type="text/css" href="<%=base_url%>/pc/css/index.css?v=1" />
	<link rel="stylesheet" type="text/css" href="<%=base_url%>/pc/css/list.css" />
	<link rel="stylesheet" type="text/css" href="<%=base_url%>/pc/css/page.css" />
	<title><%=site.name%></title>
</head>

<body>

	<%- include('head.html') %>

	<!-- 内容 -->
	<main>

		<!-- 当前位置 -->
		<section class="position pt-20 mb-25 center">
			<a href="/">首页</a>
			<%position.forEach(item=>{%>
			&gt; <a href="/list/<%=item.id%>"><%=item.name%></a>
			<%})%>
		</section>

		<div class="center pt-20 flex space-b">
			<div class="list-left mb-20">
				<ul>
					<%list.list.forEach(item=>{%>
					<li class="flex pt-5 pb-10">
						<%if(item.img){%>
						<figure class="mt-6">
							<img class="list-img" lazyload="on" src="<%=item.img%>">
						</figure>
						<%}%>
						<div class="ml-10 flex-1">
							<h3 class="f-14 mt-8 mb-8 flex flex-between">
								<a class="c-333 ellips-1 pl-15" href="/article/<%=item.id%>"><%=item.title%></a>
						<time class="c-999 f-12"><%=item.createdAt%></time>
						</h3>
						<p class="f-12 c-999">
							<a class="ellips-2" href="/article/<%=item.id%>" target="_blank"><%=item.description%></a>
						</p>
			</div>
			</li>
			<%})%>

			</ul>

			<!-- page -->
			<div class="page">
				<ul class="overflow-h" id="page">
				</ul>
			</div>

		</div>
		<div class="list-right">
			<%if(navSub.length>0 && navSub[0].children && navSub[0].children.length>0){%>
			<div class="border mb-20">
				<%navSub.forEach(item=>{%>
				<h3 class="aside-nav w-p100 f-16 pt-10 pb-10">
					<a href="/list/<%=item.id%>" class="c-fff"><%=item.name%></a>
				</h3>
				<ul class="aside-nav-sub pt-8 pb-8">
					<%item.children.forEach(sub=>{%>
					<li class="f-14 text-c pos-r mt-10 mb-10 pl-15">
						<a class="ellips-1 pt-4 pb-4" href="/article/<%=sub.id%>"><%=sub.name%></a>
					</li>
					<%})%>
				</ul>
				<%})%>
			</div>
			<%}%>
					
		<!-- ad -->
		<div class="mb-20">
			<img src="<%=ad.heci.imgUrl%>" class="w-p100" alt="">
		</div>

		<%if(sports.list.length>0){%>
		<div class="border pl-10 pr-10 mb-20">
			<h3 class="title w-p100 f-26">
				<a class="pos-r c-333" href="/list/<%=sports.category.id%>"><%=sports.category.name%></a>
				<span class="c-999 small ml-10 f-16">News</span>
				<a href="/list/<%=sports.category.id%>" class="more">更多</a>
			</h3>
			<ul class="aside pt-8 pb-8">
				<%sports.list.forEach(item=>{%>
				<li class="f-14 pos-r mt-10 mb-10 pl-15">
					<a class="c-333 ellips-1" href="/article/<%=item.id%>"><%=item.title%></a>
				</li>
				<%})%>
			</ul>
		</div>
		<%}%>

		<!-- 护照 -->
		<div class="border pl-10 pr-10 mb-20">
			<h3 class="title w-p100 f-26">
				<a class="pos-r c-333">护照</a>
				<span class="c-999 small ml-10 f-16">News</span>
			</h3>
			<ul class="aside pt-8 pb-8">
				<li class="f-14 pos-r mt-10 mb-10 pl-15">
					<a class="c-333 ellips-1" href="/article/206">世界大健康运动会护照（封皮）</a>
				</li>
				<li class="f-14 pos-r mt-10 mb-10 pl-15">
					<a class="c-333 ellips-1" href="/article/207">世界大健康运动会护照（简介）</a>
				</li>
				<li class="f-14 pos-r mt-10 mb-10 pl-15">
					<a class="c-333 ellips-1" href="/article/208">世界大健康运动会护照（宣言篇）</a>
				</li>
				<li class="f-14 pos-r mt-10 mb-10 pl-15">
					<a class="c-333 ellips-1" href="/article/209">世界大健康运动会护照（分会组织名单）</a>
				</li>
				<li class="f-14 pos-r mt-10 mb-10 pl-15">
					<a class="c-333 ellips-1" href="/article/210">世界大健康运动会护照（历届大会）</a>
				</li>
				<li class="f-14 pos-r mt-10 mb-10 pl-15">
					<a class="c-333 ellips-1" href="/article/211">世界大健康运动会护照（官方媒体）</a>
				</li>
			</ul>	
		</div>

		</div>
		</div>

		<!-- 媒体合作 -->
		<div class="center mt mt-20 pd-20">
			<%- include('mt.html') %>
		</div>

	</main>

	<!-- footer -->
	<%- include('footer.html') %>
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
	<script src="<%=base_url%>/pc/js/search.js"></script>
	<%if(list.total>1){%>
	<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous"></script>
	<script src="<%=base_url%>/pc/js/jquery.page.js"></script>
	<script>
		console.log('position----->', '<%-JSON.stringify(position)%>')
		var pageNo = getParams('page');
		if (pageNo <= 0) {
			pageNo = 1;
		}
		Page({
			num: parseInt('<%=list.total==0?1:list.total%>'),	//页码数
			startnum: pageNo,//指定页码
			elem: $('#page'),//指定的元素
			callback: function (n) {	//回调函数
				location.href = location.pathname + "?page=" + n
			}
		});
	</script>
	<%}%>
</body>

</html>