<!DOCTYPE html>
<html>

<head>
	<%- include('meta.html') %>
	<meta name="keywords" content="<%=site.keywords%>" />
	<meta name="description" content="<%=site.description%>" />
	<link rel="stylesheet" type="text/css" href="<%=base_url%>/pc/css/mkui.css" />
	<link rel="stylesheet" type="text/css" href="<%=base_url%>/pc/css/index.css?v=1" />
	<link rel="stylesheet" type="text/css" href="<%=base_url%>/pc/css/list.css?v=12" />
	<title><%=site.name%></title>
</head>

<body>
	<!-- header -->
	<%- include('head.html') %>

	<!-- 内容 -->
	<main>

		<!-- 当前位置 -->
		<section class="position pt-20 mb-25 center">
			<a href="/">首页</a>
			<%position.forEach(item=>{%>
			&gt; <a href="/list/<%=item.id%>"><%=item.name%></a>
			<%})%>
		</section>


		<div class="center pt-20 flex space-b">

			<div class="list-right">

				<%if(navSub.length>0 && navSub[0].children && navSub[0].children.length>0){%>
				<div class="border mb-20">
					<%navSub.forEach(item=>{%>
					<h3 class="aside-nav w-p100 f-16 pt-10 pb-10">
						<a href="/list/<%=item.id%>" class="c-fff"><%=item.name%></a>
					</h3>
					<ul class="aside-nav-sub pt-8 pb-8">
						<%item.children.forEach(sub=>{%>
						<li class="f-14 text-c pos-r mt-10 mb-10 pl-15">
							<a class="ellips-1 pt-4 pb-4" href="/article/<%=sub.id%>"><%=sub.name%></a>
						</li>
						<%})%>
					</ul>
					<%})%>
				</div>
				<%}%>

				<!-- ad -->
				<div class="mb-20">
					<img src="<%=ad.heci.imgUrl%>" lazyload="on" class="w-p100" alt="">
			</div>

			<%if(sports.list.length>0){%>
			<div class="border pl-10 pr-10 mb-20">
				<h3 class="title w-p100 f-26">
					<a class="pos-r c-333" href="/list/<%=sports.category.id%>"><%=sports.category.name%></a>
					<span class="c-999 small ml-10 f-16">News</span>
					<a href="/list/<%=sports.category.id%>" class="more">更多</a>
				</h3>
				<ul class="aside pt-8 pb-8">
					<%sports.list.forEach(item=>{%>
					<li class="f-14 pos-r mt-10 mb-10 pl-15">
						<a class="c-333 ellips-1" href="/article/<%=item.id%>"><%=item.title%></a>
					</li>
					<%})%>
				</ul>
			</div>
			<%}%>

			</div>
			<div class="list-left mb-20 pd-20">
				<article>
					<header class="text-c pt-20 pb-20 border-b">
						<h2 class="f-15 c-333"><%=article.title%></h2>
			<p class="f-12 mt-6 c-333">
				日期：<time class="c-999"><%=article.createdAt%></time>
				　　来源：<span class="c-999"><%=article.author|| '世联盟'%> </span>　　
				浏览量：<span class="c-999"><%=article.pv%></span>
			</p>
			</header>
			<div class="article-cont pt-20 lh-22">
				<%-article.content%>
			</div>

			</article>
		</div>

		</div>

		<!-- 媒体合作 -->
		<div class="center mt mt-20 pd-20">
			<%- include('mt.html') %>
		</div>


	</main>

	<!-- footer -->
	<%- include('footer.html') %>
	
	<script>
		console.log('<%-JSON.stringify(article)%>')
	</script>
</body>

</html>