/* 颜色 */

.c-a1a3aa {
    color: #a1a3aa
}

.c-565b6d {
    color: #565b6d
}

.c-878dad {
    color: #878dad
}

.c-fcfdff {
    color: #fcfdff
}

.c-abb2cd {
    color: #abb2cd
}

.c-9ca4bf {
    color: #9ca4bf
}

.c-3b4364{
    color: #3b4364
}


/* 背景颜色 */

.bg-434B6C {
    background-color: #434b6c
}

.border-b-495172 {
    border-bottom: 1px solid #495172
}

.bg-ffb33d {
    background-color: #ffb33d
}

/* 图标 */

.ico {
    width: 16px;
    height: 16px;
}

.ico-user {
    background-image: url('../img/ico-user.png');
    background-size: cover;
}

.ico-pass {
    background-image: url('../img/ico-pass.png');
    background-size: cover;
}

.ico-pc {
    width: 14px;
    height: 14px;
    background-image: url('../img/ico-pc.png')
}

.ico-category {
    width: 20px;
    height: 20px;
    background-image: url('../img/ico-category.png')
}

.ico-home {
    width: 16px;
    height: 16px;
    background-image: url('../img/ico-home.png')
}

.ico-content {
    width: 16px;
    height: 16px;
    background-image: url('../img/ico-content.png')
}

.ico-nav-user {
    width: 16px;
    height: 16px;
    background-image: url('../img/ico-nav-user.png')
}

.ico-system {
    width: 16px;
    height: 16px;
    background-image: url('../img/ico-system.png')
}

.ico-down {
    width: 8px;
    height: 8px;
    background-image: url('../img/ico-down.png');
    transition: transform 0.5s ease;
}

.ico-down.current {
    transform: rotate(-180deg)
}

.ico-yuan {
    width: 10px;
    height: 10px;
    background-image: url('../img/ico-yuan.png')
}

a.router-link-active span i.ico-yuan {
    width: 10px;
    height: 10px;
    background-image: url('../img/ico-yuan-current.png')
}

.ico-equit {
    width: 14px;
    height: 14px;
    background-image: url('../img/ico-equit.png')
}

.ico-article {
    width: 70px;
    height: 70px;
    background-image: url('../img/ico-article.png');
    background-size: cover;
}

.ico-tip {
    width: 18px;
    height: 18px;
    background-image: url('../img/ico-tip.png');
    background-size: cover;
}

.ico-message {
    width: 70px;
    height: 70px;
    background-image: url('../img/ico-message.png');
    background-size: cover;
}

.ico-index-user {
    width: 70px;
    height: 70px;
    background-image: url('../img/ico-index-user.png');
    background-size: cover;
}

.ico-admin {
    width: 70px;
    height: 70px;
    background-image: url('../img/ico-admin.png');
    background-size: cover;
}

.ico-edit {
    width: 18px;
    height: 18px;
    background-image: url('../img/ico-edit.png')
}

.ico-del {
    width: 18px;
    height: 18px;
    background-image: url('../img/ico-del.png')
}

.ico-camera {
    width: 58px;
    height: 58px;
    background-image: url('../img/ico-camera.png');
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #E6E8EE;
    border-radius: 2px;
}

.cont {
    transition: all .2s linear;
}

.slide-left-enter, .slide-right-leave-active {
    opacity: 0;
}

.slide-left-leave-active, .slide-right-enter {
    opacity: 0;
}

/* 按钮 */

.btn {
    cursor: pointer;
}

.btn-block {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #5B82FF;
    box-shadow: 0 0 8px 0 rgba(91, 130, 255, 0.50);
    border-radius: 25px;
}

.btn-block:hover {
    background-color: rgb(103, 141, 253);
    cursor: pointer
}

.btn-add {
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffb33d;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.08px;
    border-radius: 22px;
}

.btn-sure {
    width: 100px;
    height: 34px;
    background-color: #83E359;
    border-radius: 17px;
    color: #fff;
    transition: all 0.3s
}

.btn-sure:hover {
    background-color: #4dd411;
    box-shadow: 0px 0px 4px #d0f5c0
}

.btn-reset {
    width: 100px;
    height: 34px;
    background: #FFB33D;
    border-radius: 17px;
    color: #fff;
    transition: all 0.3s
}

.btn-reset:hover {
    background: #e8910a;
    box-shadow: 0px 0px 4px #fdeed7
}

/* 宽度间距 */

.w-330 {
    width: 330px;
}

.w-170 {
    width: 170px
}

.w60 {
    width: 60px;
}

.ml-45 {
    margin-left: 45px;
}

.pt-160 {
    padding-top: 16vh;
}

.r-18 {
    border-radius: 18px;
}

.pointer {
    cursor: pointer;
}

input {
    font-family: 'microsoft yahei'
}

:disabled {
    cursor: not-allowed;
}

.shadow {
    box-shadow: 0px 0px 5px #ecedf2
}

.flex-wrap {
    flex-wrap: wrap
}

.label {
    color: #565B6D;
    text-align: justify
}

.input {
    border: 1px solid #E6E8EE;
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    padding-left: 5px;
    color: #666;
    transition: all 0.3s
}

.input:focus {
    box-shadow: 0 0 4px #ecedf2;
    border: 1px solid #c2d1ff;
}

.select select {
    border: 1px solid #E6E8EE;
    border-radius: 2px;
    height: 30px;
    
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    color: #666
}

.select::after {
    background-image: url('../img/ico-down.png');
    width: 8px;
    height: 8px;
    content: '';
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.checkbox {
    width: 14px;
    height: 14px;
    background: #E6E8EE;
    border-radius: 2px;
    border: none
}

.checkbox:checked {
    width: 14px;
    height: 14px;
    background-image: url('../img/ico-selected.png');
    background-size: cover;
}

.checkbox:checked:after {
    display: none
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 100%;
}
.textarea{
    border:1px solid #E6E8EE;
    padding: 5px;
    border-radius: 2px;
}
.w-e-toolbar{
    border-radius: 2px
}
.w-e-toolbar:focus{
     box-shadow: 0 0 4px #ecedf2;
  border: 1px solid #c2d1ff;
}
.thumb{
    width: 58px;
    height: 58px;
    border: 1px solid #E6E8EE;
    border-radius: 2px;
    padding: 2px;
    margin-right: 10px;
}
.wauto{
    width: 100%;
}
/* 分页 */

#page li {
    list-style: none;
}

#page li a {
    padding: 0 7px;
    height: 22px;
    text-align: center;
    border: 1px solid #e6e8ee;
    margin-right: 8px;
    border-radius: 13px;
    color: #878dad;
    cursor: pointer
}

#page li.active a {
    color: #fff;
    background-color: #3b4364;
}

#page li:first-child a {
    width: 22px;
    margin-right: 18px;
    background: url('../img/ico-pre.png') 5px 5px no-repeat;
    text-indent: 999999px;
}

#page li:last-child a {
    width: 22px;
    margin-left: 18px;
    background: url('../img/ico-next.png') 5px 5px no-repeat;
    text-indent: 999999px;
}

/* 滚动条*/

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #fff;
}

::-webkit-scrollbar-track {
    background: #dfdfdf;
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #5B82FF;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: #82AFFF;
}

::-webkit-scrollbar-resizer {
    background: #dfdfdf;
}

/*login*/

.ys-wrap {
    height: calc(100vh - 80px);
    min-height: 540px;
}

.ys-footer {
    height: 80px;
}

.page-login {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.login-ad img {
    max-width: 390px;
    max-height: 340px;
}

.login-form {
    padding-left: 140px;
}

.login-form input::-webkit-input-placeholder {
    font-family: 'microsoft yahei';
    color: #bfc3d2;
}

/* global.vue */

::-webkit-input-placeholder {
    color: #cfcfcf
}

.ys-admin-right {
    width: calc(100vw - 170px);
   min-width: 1193px;
    height: 100vh;
}

.ys-admin-wrap-left {
    height: 100vh;
    overflow-y: auto;
}

.logo {
    height: 50px;
}

.logo img {
    width: 91px;
    height: 20px;
}

.ys-admin-nav dl dt {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    color: #fcfdff;
    cursor: pointer;
}

.ys-admin-nav dl dd {
    background-color: #3b4364;
    /* height: 0px; */
    font-size: 14px;
    transition: all .3s linear 0s;
    display: none;
}

.ys-admin-nav dl dd a {
    color: #abb2cd
}

.ys-admin-nav dl dd .router-link-active span {
    color: #5b82ff
}

.ys-admin-nav dl dd span {
    display: block;
    transition: color 0.3s
}

/* .ys-admin-nav dl dd span.current{
      color: #5b82ff
    } */

.ys-admin-top {
    height: 50px;
    box-shadow: 0 1px 5px #ecedf2
}

.ys-admin-avator {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #E6E8EE;
    overflow: hidden;
}

.ys-admin-cont {
    width: 100%;
    height: calc(100vh - 51px);
    overflow: hidden;
}

.ys-admin-equit {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 4px 0 rgba(191, 195, 210, 0.50);
    box-shadow: 0 0 4px 0 rgba(191, 195, 210, 0.50);
    width: 89px;
    height: 0px;
    position: absolute;
    right: 0px;
    top: 38px;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s
}

.ys-admin-equit.current {
    height: 36px;
    top: 50px;
    opacity: 1;
}

.ys-admin-equit::before {
    display: block;
    content: ' ';
    width: 98px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    right: 0px;
    z-index: 1;
}

/* index.vue */

.tongji-num {
    height: 100px;
}

.justify-content-b {
    justify-content: space-between;
}

.f-sum {
    font-family: 'simsun';
    margin-left: 4px;
    margin-right: 4px;
}

.ys-admin-pos {
    margin: 10px;
    line-height: 32px;
}

.ys-admin-tab-header {
    padding: 10px;
}

.ys-admin-tablist {
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px #ecedf2;
    min-height: calc(100vh - 115px);
}

.table-th {
    border: none;
    background-color: #fafafc;
}

.table-border {
    border-top: none;
}

.table-border td {
    border-bottom: 1px solid #e6e8ee;
    color: #505a80;
    height: 48px;
}
.table-border td a{
    color: #505a80
}
.table-th th {
    letter-spacing: 1px;
    font-size: 12px;
    color: #a1a3aa;
    font-weight: normal;
    height: 40px;
}

.table-th.row {
    height: 40px;
    color: #505a80;
    padding: 8px;
    line-height: 20px;
}

.tr {
    border-bottom: 1px solid #e6e8ee;
    color: #505a80;
    height: 48px;
}

.tr .td {
    padding: 8px;
    line-height: 32px;
}

.tr:hover .td {
    background-color: #f5f5f5
}