<!DOCTYPE html>
<html>
  <%- include('head.html') %>
  <body>
    <%- include('header.html') %>
    <div class="innerhead is-about">
      <div class="innerhead-title">
        <div class="title">数据与企业的高价值链接</div>
        <div class="subtitle">Connect company with Data</div>
      </div>
    </div>
    <!-- 企业信息 S -->
    <div class="aboutus-info">
      <div class="container space-between">
        <div class="animated delay1">
          <div class="aboutus-info-name">
            端点科技：专注于企业数字化和智慧化建设
          </div>
          <div class="aboutus-info-brief">
            端点科技成立于2017年，总部坐落于珠海‧横琴，澳门、广州分别设立子公司，是广东省科技厅认定的“高新技术企业”、“科技型中小企业”。旗下拥有2家高新技术企业，50余项软件著作权。
          </div>
          <div class="aboutus-info-brief">
            公司在用户、企业、终端和云计算等领域构筑了端到端的解决方案优势，为运营商客户、企业客户和消费者提供有竞争力的IT解决方案、产品和服务。公司旗下有全域会员、全触点营销、全渠道交易、全场景预约、供应链云等产品，致力于帮助传统行业实现数字化经营、互联网转型升级，是一家集技术研发、运营推广的互联网创新型公司。
          </div>
        </div>
      </div>
    </div>
    <!-- 企业信息 E -->
    <!-- 研发实力 S -->
    <div class="container" style="display: none">
      <div class="rnd-sec-2 aboutus-rnd">
        <div class="rnd-sec-2-item animated">
          <img
            src="static/picture/aboutus_rnd_1.svg"
            class="icon"
            width="47.05"
            style="left: 33px"
          />
          <div class="title">五年技术沉淀，研发实力深厚</div>
          <div class="desc">
            有一支从事软件开发5余年、反应迅速、讲求团队合作的专业技术团队，奠定了开发实力的高起点
          </div>
        </div>
        <div class="rnd-sec-2-item animated">
          <img
            src="static/picture/aboutus_rnd_2.svg"
            class="icon"
            width="53.5"
            style="left: 30px"
          />
          <div class="title">产品创新，在变化中保持领先</div>
          <div class="desc">
            以客户为中心，始终围绕客户需求，高效、高质量地满足用户。过去我们每一款产品都获得了行业标杆客户的青睐。
          </div>
        </div>
        <div class="rnd-sec-2-item animated delay1">
          <img
            src="static/picture/aboutus_rnd_3.svg"
            class="icon"
            width="53.5"
            style="left: 30px"
          />
          <div class="title">以业务落地为导向，专家团队高效赋能</div>
          <div class="desc">
            关注客户实际落地，结合业务不断优化体验，提高效率，专家团队伴随式服务，深度运营陪跑。
          </div>
        </div>
        <div class="rnd-sec-2-item animated delay1">
          <img
            src="static/picture/aboutus_rnd_4.svg"
            class="icon"
            width="43.52"
            style="left: 35px"
          />
          <div class="title">「中台+」合作模式，大客户灵活定制</div>
          <div class="desc">
            基于多行业的客户经验，打造真正的数字化中台系统，在满足 80%
            场景的标准化产品之上，灵活扩展定制个性化需求。
          </div>
        </div>
      </div>
    </div>
    <img
      src="static/picture/aboutus_2_png.svg"
      class="container partnerimg animated"
      style="display: block"
    />
    <!-- 研发实力 E -->
    <!-- 企业文化 S -->
    <div class="aboutus-culture">
      <div class="common-title animated delay1">
        <div class="title">我们努力践行的企业文化</div>
        <div class="subtitle">
          根据公司的发展需要和业务场景，快速定制您的专属数据平台
        </div>
      </div>
      <div class="container space-between">
        <div class="aboutus-culture-item animated delay2">
          <img src="static/picture/aboutus_3_1.svg" class="pic" />
          <div class="title">使命</div>
          <div class="desc">专注于企业数字化和智慧化建设</div>
        </div>
        <div class="aboutus-culture-item animated delay2">
          <img src="static/picture/aboutus_3_2.svg" class="pic" />
          <div class="title">愿景</div>
          <div class="desc">让企业经营更智慧、更简单</div>
        </div>
        <div class="aboutus-culture-item animated delay2">
          <img src="static/picture/aboutus_3_3.svg" class="pic" />
          <div class="title">价值观</div>
          <div class="desc">
            热爱生活 团队制胜
            <div>快学快用 超越极致</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 企业文化 E -->
    <!-- 我们理念 S -->
    <div class="aboutus-idea">
      <div class="common-title animated delay1">
        <div class="title">我们始终秉承的理念</div>
      </div>
      <div class="container space-between">
        <div class="aboutus-idea-item animated delay2">
          <img src="static/picture/aboutus_3.jpg" class="pic" />
          <div class="title">专业技术</div>
          <div class="desc other">
            我们拥有行业专业技术实力与资深工程开发团队，
            为您的商业变现及产品需求保驾护航。
          </div>
        </div>
        <div class="aboutus-idea-item animated delay2">
          <img src="static/picture/aboutus_4.jpg" class="pic" />
          <div class="title">贴心服务</div>
          <div class="desc other">
            我们始终坚持优质的服务理念，无论任何时候您遇
            到困难，我们都会及时提供精准有效的解决方案。
          </div>
        </div>
        <div class="aboutus-idea-item animated delay2">
          <img src="static/picture/aboutus_5.jpg" class="pic" />
          <div class="title">创业伙伴</div>
          <div class="desc other">
            我们把每一位客户都当做创业伙伴，期盼在未来
            成长的道路上一路相伴，携手前行。
          </div>
        </div>
      </div>
    </div>
    <!-- 我们理念 E -->
    <!-- 合作伙伴 S -->
    <div class="aboutus-partner">
      <div class="container">
        <img
          src="static/picture/aboutus_partner_bg.png"
          alt=""
          class="abouts-partner-bg"
        />
        <div class="aboutus-partner-box space-between animated delay1">
          <div class="aboutus-partner-item">
            <div class="common-title">
              <div class="title">合作伙伴</div>
              <div class="subtitle">与行业领先企业共筑生态</div>
            </div>
          </div>
          <img
            src="static/picture/aboutus_partner_0.svg"
            alt=""
            class="aboutus-partner-pic"
          />
        </div>
      </div>
    </div>
    <!-- 合作伙伴 E -->
    <!-- 联系我们 S -->
    <div class="aboutus-contact">
      <div class="common-title animated delay1">
        <div class="title">联系我们</div>
      </div>
      <div class="container space-between">
        <div class="aboutus-contact-item animated delay2">
          <div class="name">
            <span>横琴总部</span>
          </div>
          <a
            href="https://www.amap.com/place/B0HAYHZ8UP"
            class="address"
            target="_blank"
          >
            <img
              src="static/picture/aboutus_contact_2.svg"
              alt=""
              class="icon"
            />
            <span>横琴新区横琴澳门青年创意谷20栋D座319室</span>
          </a>
          <div class="info">
            <img
              src="static/picture/aboutus_contact_1.svg"
              alt=""
              class="icon"
            />
            <span class="number">13532270246</span>
            <span class="info-name">林枫（全国销售总监）</span>
          </div>
          <div>
            <img src="static/picture/qrcode_zhuhai.svg" alt="" class="qrcode" />
            <div>扫码添加我咨询～</div>
          </div>
        </div>
        <div class="aboutus-contact-item animated delay2">
          <div class="name">
            <span>澳门运营中心</span>
          </div>
          <a
            href="https://www.amap.com/place/B073D00FJH"
            class="address"
            target="_blank"
          >
            <img
              src="static/picture/aboutus_contact_2.svg"
              alt=""
              class="icon"
            />
            <span>澳门宋玉生广场181-187号光辉商业中心17楼D室</span>
          </a>
          <div class="info">
            <img
              src="static/picture/aboutus_contact_1.svg"
              alt=""
              class="icon"
            />
            <span class="number">+853-6398-0838</span>
            <span class="info-name">Roy Chong（澳门销售总监）</span>
          </div>
          <div>
            <img src="static/picture/qrcode_aomen.svg" alt="" class="qrcode" />
            <div>扫码添加我咨询～</div>
          </div>
        </div>
        <div class="aboutus-contact-item animated delay2">
          <div class="name">
            <span>广州运营中心</span>
          </div>
          <a
            href="https://www.amap.com/place/B0FFHDKZDJ"
            class="address"
            target="_blank"
          >
            <img
              src="static/picture/aboutus_contact_2.svg"
              alt=""
              class="icon"
            />
            <span>广州市番禺区南浦沿沙路13号联兴商务501-502室</span>
          </a>
          <div class="info">
            <img
              src="static/picture/aboutus_contact_1.svg"
              alt=""
              class="icon"
            />
            <span class="number">191-6869-7435</span>
            <span class="info-name">邓经理（华南销售总监）</span>
          </div>
          <div>
            <img
              src="static/picture/qrcode_guangzhou.svg"
              alt=""
              class="qrcode"
            />
            <div>扫码添加我咨询～</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 联系我们 E -->
    <%- include('footer.html') %>
  </body>
</html>
