<!-- 头部 S -->
<div class="header">
  <div class="header-bg" id="headerbg"></div>
  <div class="container space-between">
    <div class="header-logo-box">
      <h1>端点科技</h1>
      <a href=""
        ><img
          src="<%=base_url%>/static/picture/header_logo.svg"
          class="header-logo logo1"
          title="端点科技"
          alt="端点科技"
      /></a>
      <a href=""
        ><img
          src="<%=base_url%>/static/picture/header_logo2.svg"
          class="header-logo logo2"
          title="端点科技"
          alt="端点科技"
      /></a>
      <img
        src="<%=base_url%>/static/picture/gxjsqy.svg"
        class="header-gxjsqy"
      />
    </div>
    <div class="header-nav">
      <a href="/" id="nav_0" class="header-nav-link">首页</a>
      <div id="nav_1" class="header-nav-link header-nav-link-more">
        <span class="name">产品服务</span>
        <i class="btn icon"></i>
        <div class="header-subnav">
          <div class="header-subnav-box">
            <div class="header-subnav-title">
              <img
                src="<%=base_url%>/static/picture/header_sub_1.svg"
                class="header-subnav-icon"
              />
              <span>端点·云店</span>
            </div>
            <a href="index2.html" class="header-subnav-link">全域会员</a>
            <a href="index2.html" class="header-subnav-link">全触点营销</a>
            <a href="index2.html" class="header-subnav-link">全渠道交易</a>
            <a href="index2.html" class="header-subnav-link">全场景预约</a>
            <a href="index2.html" class="header-subnav-link">供应链云</a>
            <!-- <a href="###" class="header-subnav-link">货物收发系统</a>
                              <a href="/index/wms/index.html" class="header-subnav-link">智慧仓储系统WMS</a>
                              <a href="###" class="header-subnav-link">知识付费系统</a> -->
          </div>
          <div class="header-subnav-box">
            <div class="header-subnav-title">
              <img
                src="<%=base_url%>/static/picture/header_sub_3.svg"
                class="header-subnav-icon"
              />
              <span>定制服务</span>
            </div>
            <a href="index2.html" class="header-subnav-link">小程序</a>
            <a href="index2.html" class="header-subnav-link">移动APP</a>
            <a href="index2.html" class="header-subnav-link">H5</a>
            <a href="index2.html" class="header-subnav-link">PC端</a>
          </div>
          <div class="header-subnav-box">
            <div class="header-subnav-title">
              <img
                src="<%=base_url%>/static/picture/header_sub_2.svg"
                class="header-subnav-icon"
              />
              <span>服务模式</span>
            </div>
            <a href="index2.html" class="header-subnav-link">SaaS服务</a>
            <a href="index2.html" class="header-subnav-link">私有化PaaS服务</a>
            <a href="index2.html" class="header-subnav-link">OEM品牌服务</a>
          </div>
        </div>
      </div>
      <div
        id="nav_2"
        class="header-nav-link header-nav-link-more"
        style="display: none"
      >
        <span class="name">解决方案</span>
        <i class="btn icon"></i>
        <div class="header-subnav">
          <div class="header-subnav-box">
            <div class="header-subnav-title">
              <img
                src="<%=base_url%>/static/picture/header_sub_1.svg"
                class="header-subnav-icon"
              />
              <span>产品矩阵</span>
            </div>
            <a href="index3.html" class="header-subnav-link">端点智店</a>
            <a href="###" class="header-subnav-link">货物收发系统</a>
            <a href="index4.html" class="header-subnav-link">智慧仓储系统WMS</a>
            <a href="###" class="header-subnav-link">知识付费系统</a>
          </div>
          <div class="header-subnav-box">
            <div class="header-subnav-title">
              <img
                src="<%=base_url%>/static/picture/header_sub_2.svg"
                class="header-subnav-icon"
              />
              <span>服务模式</span>
            </div>
            <a href="###" class="header-subnav-link">SaaS服务</a>
            <a href="###" class="header-subnav-link">私有化PaaS服务</a>
            <a href="###" class="header-subnav-link">SMART数据中台</a>
          </div>
          <div class="header-subnav-box">
            <div class="header-subnav-title">
              <img
                src="<%=base_url%>/static/picture/header_sub_3.svg"
                class="header-subnav-icon"
              />
              <span>多终端</span>
            </div>
            <a href="###" class="header-subnav-link">小程序</a>
            <a href="###" class="header-subnav-link">移动APP</a>
            <a href="###" class="header-subnav-link">H5</a>
            <a href="###" class="header-subnav-link">PC端</a>
          </div>
        </div>
      </div>
      <a href="customercase" id="nav_3" class="header-nav-link">客户案例</a>
      <a href="news" id="nav_4" class="header-nav-link">资讯动态</a>
      <a href="about" id="nav_5" class="header-nav-link">关于我们</a>
    </div>
    <div class="header-action">
      <a href="https://datapointtech.com/" class="header-change-side">
        <img src="<%=base_url%>/static/picture/global.svg" class="icon1" />
        <img src="<%=base_url%>/static/picture/global2.svg" class="icon2" />
        <span>繁体</span>
      </a>
      <a href="###" class="main-btn header-appo showappo" data-source="0"
        >申请演示</a
      >
    </div>
  </div>
</div>
<!-- 头部 E -->
