<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />

  <title>端点云 - 专注于企业数字化和智慧化建设</title>
  <!--端点-->
  <meta
    name="keywords"
    content="端点科技,端点云,聚合支付,外卖小程序,点餐小程序,商城小程序,分销小程序,会员小程序,预约小程序,场馆预约系统,微信预约系统,在线选座系统,剧院订座系统,电影院选座系统,演唱会选座系统,私域流量运营,微信营销,线上线下一体化,连锁企业数字化解决方案"
  />
  <meta
    name="description"
    content="端点科技,端点云,聚合支付,外卖小程序,点餐小程序,商城小程序,分销小程序,会员小程序,预约小程序,场馆预约系统,微信预约系统,在线选座系统,剧院订座系统,电影院选座系统,演唱会选座系统,私域流量运营,微信营销,线上线下一体化,连锁企业数字化解决方案"
  />
  <!-- 简体 -->
  <meta name="location" content="province=广东;city=珠海" />
  <meta name="copyright" content="端点科技" />
  <!-- 繁体 -->
  <!-- <meta name="location" content="province=澳門;city=澳門">
<meta name="copyright" content="端點軟件"> -->
  <!-- ico -->
  <link rel="shortcut icon" href="<%=base_url%>/static/css/favicon.ico" />
  <!-- 样式 -->
  <link
    rel="stylesheet"
    href="<%=base_url%>/static/css/font_2605247_u3ake4u2iq.css"
  />
  <link rel="stylesheet" href="<%=base_url%>/static/css/lib.css" />
  <link rel="stylesheet" href="<%=base_url%>/static/css/swiper.min.css" />
  <link rel="stylesheet" href="<%=base_url%>/static/css/style.css" />
  <!-- JS -->
  <script src="<%=base_url%>/static/js/jquery.min.js"></script>
  <script src="<%=base_url%>/static/js/swiper.min.js"></script>
  <!-- <script src="<%=base_url%>/static/js/lib.min.js"></script> -->
  <!-- <script src="<%=base_url%>/static/js/org.js" data-main="indexMain"></script> -->
</head>
