<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">

<title>端点云 - 专注于企业数字化和智慧化建设</title><!--端点智店-->
<meta name="keywords" content="端点科技,端点云,聚合支付,外卖小程序,点餐小程序,商城小程序,分销小程序,会员小程序,预约小程序,场馆预约系统,微信预约系统,在线选座系统,剧院订座系统,电影院选座系统,演唱会选座系统,私域流量运营,微信营销,线上线下一体化,连锁企业数字化解决方案">
<meta name="description" content="端点科技,端点云,聚合支付,外卖小程序,点餐小程序,商城小程序,分销小程序,会员小程序,预约小程序,场馆预约系统,微信预约系统,在线选座系统,剧院订座系统,电影院选座系统,演唱会选座系统,私域流量运营,微信营销,线上线下一体化,连锁企业数字化解决方案">
<!-- 简体 -->
<meta name="location" content="province=广东;city=珠海">
<meta name="copyright" content="端点科技">
<!-- 繁体 -->
<!-- <meta name="location" content="province=澳門;city=澳門">
<meta name="copyright" content="端點軟件"> -->
<!-- ico -->
<link rel="shortcut icon" href="static/css/favicon.ico">
<!-- 样式 -->
<link rel="stylesheet" href="static/css/font_2605247_u3ake4u2iq.css">
<link rel="stylesheet" href="static/css/lib.css">
<link rel="stylesheet" href="static/css/swiper.min.css">
<link rel="stylesheet" href="static/css/style.css">
<!-- JS -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/swiper.min.js"></script>
<script src="static/js/lib.min.js"></script>
<script src="static/js/org.js" data-main="indexMain"></script>
    </head>

    <body>

        <!-- 头部 S -->
<div class="header">
    <div class="header-bg" id="headerbg"></div>
    <div class="container space-between">
        <div class="header-logo-box">
            <h1>端点科技</h1>
            <a href="index.html"><img src="static/picture/header_logo.svg" class="header-logo logo1" title="端点科技" alt="端点科技"></a>
            <a href="index.html"><img src="static/picture/header_logo2.svg" class="header-logo logo2" title="端点科技" alt="端点科技"></a>
            <img src="static/picture/gxjsqy.svg" class="header-gxjsqy">
        </div>
        <div class="header-nav">
            <a href="index.html" id="nav_0" class="header-nav-link">首页</a>
            <div id="nav_1" class="header-nav-link header-nav-link-more">
                <span class="name">产品服务</span>
                <i class="btn icon"></i>
                <div class="header-subnav">
                    <div class="header-subnav-box">
                        <div class="header-subnav-title">
                            <img src="static/picture/header_sub_1.svg" class="header-subnav-icon">
                            <span>端点·云店</span>
                        </div>
                        <a href="index2.html" class="header-subnav-link">全域会员</a>
                        <a href="index2.html" class="header-subnav-link">全触点营销</a>
                        <a href="index2.html" class="header-subnav-link">全渠道交易</a>
                        <a href="index2.html" class="header-subnav-link">全场景预约</a>
                        <a href="index2.html" class="header-subnav-link">供应链云</a>
                        <!-- <a href="###" class="header-subnav-link">货物收发系统</a>
                        <a href="/index/wms/index.html" class="header-subnav-link">智慧仓储系统WMS</a>
                        <a href="###" class="header-subnav-link">知识付费系统</a> -->
                    </div>
                    <div class="header-subnav-box">
                        <div class="header-subnav-title">
                            <img src="static/picture/header_sub_3.svg" class="header-subnav-icon">
                            <span>定制服务</span>
                        </div>
                        <a href="index2.html" class="header-subnav-link">小程序</a>
                        <a href="index2.html" class="header-subnav-link">移动APP</a>
                        <a href="index2.html" class="header-subnav-link">H5</a>
                        <a href="index2.html" class="header-subnav-link">PC端</a>
                    </div>
                    <div class="header-subnav-box">
                        <div class="header-subnav-title">
                            <img src="static/picture/header_sub_2.svg" class="header-subnav-icon">
                            <span>服务模式</span>
                        </div>
                        <a href="index2.html" class="header-subnav-link">SaaS服务</a>
                        <a href="index2.html" class="header-subnav-link">私有化PaaS服务</a>
                        <a href="index2.html" class="header-subnav-link">OEM品牌服务</a>
                    </div>
                </div>
            </div>
            <div id="nav_2" class="header-nav-link header-nav-link-more" style="display: none;">
                <span class="name">解决方案</span>
                <i class="btn icon"></i>
                <div class="header-subnav">
                    <div class="header-subnav-box">
                        <div class="header-subnav-title">
                            <img src="static/picture/header_sub_1.svg" class="header-subnav-icon">
                            <span>产品矩阵</span>
                        </div>
                        <a href="" class="header-subnav-link">端点智店</a>
                        <a href="###" class="header-subnav-link">货物收发系统</a>
                        <a href="index4.html" class="header-subnav-link">智慧仓储系统WMS</a>
                        <a href="###" class="header-subnav-link">知识付费系统</a>
                    </div>
                    <div class="header-subnav-box">
                        <div class="header-subnav-title">
                            <img src="static/picture/header_sub_2.svg" class="header-subnav-icon">
                            <span>服务模式</span>
                        </div>
                        <a href="###" class="header-subnav-link">SaaS服务</a>
                        <a href="###" class="header-subnav-link">私有化PaaS服务</a>
                        <a href="###" class="header-subnav-link">SMART数据中台</a>
                    </div>
                    <div class="header-subnav-box">
                        <div class="header-subnav-title">
                            <img src="static/picture/header_sub_3.svg" class="header-subnav-icon">
                            <span>多终端</span>
                        </div>
                        <a href="###" class="header-subnav-link">小程序</a>
                        <a href="###" class="header-subnav-link">移动APP</a>
                        <a href="###" class="header-subnav-link">H5</a>
                        <a href="###" class="header-subnav-link">PC端</a>
                    </div>
                </div>
            </div>
            <a href="index5.html" id="nav_3" class="header-nav-link">客户案例</a>
            <a href="index6.html" id="nav_4" class="header-nav-link">资讯动态</a>
            <a href="index7.html" id="nav_5" class="header-nav-link">关于我们</a>
        </div>
        <div class="header-action">
            <a href="https://datapointtech.com/" class="header-change-side">
                <img src="static/picture/global.svg" class="icon1">
                <img src="static/picture/global2.svg" class="icon2">
                <span>繁体</span>
            </a>
            <a href="###" class="main-btn header-appo showappo" data-source="0">申请演示</a>
        </div>
    </div>
</div>
<!-- 头部 E -->

        
<!-- wms-banner S -->
<div class="wms-banner">
  <img src="static/picture/banner2.png" class="swiper-slide-bg">
  <div class="container siwper-slide-content animated delay1">
    <div class="title">智慧门店整体解决方案</div>
    <div class="desc">高精细+聚合支付+原生会员+精准营销+微商城+场馆预约+景区预约</div>
    <div class="btn main-btn showappo">预约演示<i class="iconfont icon-jiantou_qiehuanyou"></i></div>
  </div>
</div>
<!-- wms-banner E -->
<!-- 功能描述 S -->
<div class="ss-description">
  <div class="common-title animated delay1">
    <div class="title">聚合支付+原生会员+精准营销+微商城+预约</div>
    <div class="subtitle">在门店数字化、服务在线化、数据智能化等方方面面与时俱进，让您在同行中脱颖而出</div>
  </div>
  <div class="container flex">
    <div class="info-box  animated delay3 space-between">
      <div class="info">
        <div class="name">支付收银</div>
        <div class="desc">以专业的移动支付工具为入口
          安全、稳定、快捷</div>
      </div>
      <div class="info">
        <div class="name">原生会员</div>
        <div class="desc">支付即会员，打造门店原生会员系统
          可以转移承接原有会员数据
          全方位享受平台红利</div>
      </div>
    </div>
    <img src="static/picture/11.png" class="animated delay2">
    <div class="info-box  animated delay3">
      <div class="info">
        <div class="name">精准营销</div>
        <div class="desc">提供丰富营销方式，
          包括会员营销活动和折减赠返等；
          提供会员RFM模型，
          提供精准数据分析和定向营销功能。</div>
      </div>
      <div class="info">
        <div class="name">智慧门店</div>
        <div class="desc">为门店定制O2O线上智慧商城，
          打通线上线下销售，
          让传统商户升级为新零售门店。</div>
      </div>
      <div class="info">
        <div class="name">智慧场馆/景区</div>
        <div class="desc">为门店定制O2O线上智慧商城，
          打通线上线下销售，
          让传统商户升级为新零售门店。</div>
      </div>
    </div>
  </div>
</div>
<!-- 功能描述 E -->
<!-- 运营服务 S -->
<div class="ss-operate operate1">
  <div class="container space-between">
    <div class="animated delay1">
      <div class="title">全渠道客户管理 打通线上线下数据</div>
      <div class="desc">打通微信会员卡包、微信小程序、APP、线下门店等多渠道客户数据，构建品牌私域流。
        线上线下同步营销活动和会员信息，实现线上和线下门店联动获客、流量互通。
        用户的积分、权益、卡券同步，提高用户的消费体验</div>
      <div class="btn showappo">
        <span>预约了解</span>
        <i class="iconfont icon-jiantou_qiehuanyou"></i>
      </div>
    </div>
    <img src="static/picture/21.png" class="animated">
  </div>
</div>
<div class="ss-operate operate2">
  <div class="container space-between">
    <img src="static/picture/3.png" class="animated">
    <div class="animated delay1">
      <div class="title">精细化运营 关注客户生命周期</div>
      <div class="desc">通过注册有礼降低注册门槛，到店后通过参与升级有礼、储值、积分等活动，私有化客户资产。
        引导进店完成会员任务、日历签到等，搭建会员成长体系，培养客户，提高客户粘性。
        通过助力返现，邀请有礼等带有社交裂变价值的营销工具，实现老带新的精准裂变和品牌宣传，完成客户生命周期管理的闭环。</div>
      <div class="flex">
        <div class="btn showappo">
          <span>预约了解</span>
          <i class="iconfont icon-jiantou_qiehuanyou"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ss-operate operate3">
  <div class="container space-between">
    <div class="animated delay1">
      <div class="title">自动化精准营销，提高消费频次和客单价</div>
      <div class="desc">大数据分析客户画像、消费行为，对客户进行的分群运营精准地给不同类型的客户推送合适的商品优惠活动、服务信息、优惠券；
        提供多样化数据报表和分析工具，有效衡量活动转化和客户管理成效</div>
      <div class="btn showappo">
        <span>预约了解</span>
        <i class="iconfont icon-jiantou_qiehuanyou"></i>
      </div>
    </div>
    <img src="static/picture/4.png" class="animated">
  </div>
</div>
<!-- 运营服务 E -->
<!-- 具体功能 S -->
<div class="ss-function">
  <div class="common-title animated delay1">
    <div class="title">智慧门店商城</div>
    <div class="subtitle">构建完整的电商交易链，通过线上线下结合，营销玩法+分销系统等功能</div>
  </div>
  <div class="container space-between">
    <div class="ss-function-tabbar ssft1 animated delay3">
      <div class="ss-function-tabbar-item active">
        <div class="title">单店，连锁多模式</div>
        <div class="desc">支持无论是总部统一商城管理还是分店独立管理商城，都可以轻松切换模式，拓展性极佳。</div>
      </div>
      <div class="ss-function-tabbar-item">
        <div class="title">线上线下数据互通</div>
        <div class="desc">支持无论是总部统一商城管理还是分店独立管理商城，都可以轻松切换模式，拓展性极佳。</div>
      </div>
      <div class="ss-function-tabbar-item">
        <div class="title">多种分销模式</div>
        <div class="desc">支持无论是总部统一商城管理还是分店独立管理商城，都可以轻松切换模式，拓展性极佳。</div>
      </div>
      <div class="ss-function-tabbar-item">
        <div class="title">多样化营销助力成交</div>
        <div class="desc">支持无论是总部统一商城管理还是分店独立管理商城，都可以轻松切换模式，拓展性极佳。</div>
      </div>
    </div>
    <img src="static/picture/21.png" class="animated delay2">
  </div>
</div>
<div class="ss-function">
  <div class="common-title animated delay1">
    <div class="title">智慧场馆/景区预约</div>
    <div class="subtitle">构建完整的电商交易链，通过线上线下结合，营销玩法+分销系统等功能</div>
  </div>
  <div class="container space-between">
    <img src="static/picture/21.png" class="animated delay2">
    <div class="ss-function-tabbar ssft2 animated delay3">
      <div class="ss-function-tabbar-item active">
        <div class="title">多种预约模式</div>
        <div class="desc">支持无论是总部统一商城管理还是分店独立管理商城，都可以轻松切换模式，拓展性极佳。</div>
      </div>
      <div class="ss-function-tabbar-item">
        <div class="title">智能排班机制</div>
        <div class="desc">支持无论是总部统一商城管理还是分店独立管理商城，都可以轻松切换模式，拓展性极佳。</div>
      </div>
      <div class="ss-function-tabbar-item">
        <div class="title">团队及散票预约</div>
        <div class="desc">支持无论是总部统一商城管理还是分店独立管理商城，都可以轻松切换模式，拓展性极佳。</div>
      </div>
      <div class="ss-function-tabbar-item">
        <div class="title">智慧物联</div>
        <div class="desc">支持无论是总部统一商城管理还是分店独立管理商城，都可以轻松切换模式，拓展性极佳。</div>
      </div>
    </div>
  </div>
</div>
<!-- 具体功能 E -->
<!-- 客户案例 S -->
<div class="ss-cases customer-cases">
  <div class="common-title animated delay1">
    <div class="title">他们都在使用</div>
    <div class="subtitle">与端点共同构建数字新未来</div>
  </div>
  <div class="container flex animated delay2" id="list">
    
  </div>
  
  <div class="list-load-nodata">暂无数据</div>
  <div class="list-load-more">
    <span class="btn" id="listLoad">加载更多>></span>
  </div>
</div>
<!-- 客户案例 E -->
<!-- 演示弹窗 S -->
<div id="new-mask" class="mask" style="display: none;"></div>
<div id="new-case-window" class="case-window" style="display: none;">
    <img src="static/picture/close.svg" class="btn case-window-close">
    <div id="one-case-window-left" class="case-window-left" style="display: none;">
        <div class="box">
            <div class="title"><span>预约演示</span></div>
            <div class="subtitle">您将获得以下信息：</div>
            <div class="info">
                <div class="info-item">
                    <i class="iconfont icon-xuanze"></i>
                    <span>解决方案的详细介绍，帮您快速了解产品</span>
                </div>
                <div class="info-item">
                    <i class="iconfont icon-xuanze"></i>
                    <span>演示体验后台，快速了解功能及流程</span>
                </div>
                <div class="info-item">
                    <i class="iconfont icon-xuanze"></i>
                    <span>专业方案顾问，为您提供个性化方案沟通</span>
                </div>
            </div>
            <div class="contact">商务经理：林枫
                联系电话：+86 13532270246
                邮箱地址：hugh@duandiankeji.cn
            </div>
            <div class="qrcode1">
                <img src="static/picture/qrcode.svg">
                <div class="qrcode-name">微信联系</div>
            </div>
        </div>
    </div>
    <div id="two-case-window-left" class="case-window-left" style="display: none;">
        <div class="box2">
            <div class="title"><span>查看案例</span></div>
            <div id="linkbox" class="case-url">
                <div class="type-name">
                    <i class="iconfont icon-lianjie"></i>
                    <span>访问链接</span>
                </div>
                <a id="link" href="http://www.duandiankeji.cn">www.duandiankeji.cn</a>
            </div>
            <div class="case-url qrcode" id="case-qrcode">
                <div class="type-name">
                    <i class="iconfont icon-shouji"></i>
                    <span>移动端</span>
                </div>
                <div id="androidbox" class="qrcode2">
                    <img id="android" src="static/picture/qrcode.svg">
                    <div class="qrcode-name">安卓APP</div>
                </div>
                <div id="iosbox" class="qrcode2">
                    <img id="ios" src="static/picture/qrcode.svg">
                    <div class="qrcode-name">IOS APP</div>
                </div>
                <div id="wechatbox" class="qrcode2">
                    <img id="wechat" src="static/picture/qrcode.svg">
                    <div class="qrcode-name">微信小程序</div>
                </div>
            </div>

        </div>
    </div>
    <div class="case-window-right">
        <label class="input-box reg">
            <input name="case_name" value="" type="text" placeholder="请填写姓名">
        </label>
        <label class="input-box reg">
            <input name="case_phone" value="" type="text" placeholder="请填写手机号">
        </label>
        <label class="input-box">
            <input name="case_company" value="" type="text" placeholder="请填写公司名称">
        </label>
        <div class="input-box sls">
            <span id="new-productresult">请选择希望使用的产品</span>
            <img src="static/picture/drop1.svg" class="drop">
            <div class="appo-dropdown">
                <div class="appo-dropdown-item" data-product="端点智店">端点智店</div>
                <div class="appo-dropdown-item" data-product="WMS系统">WMS系统</div>
                <div class="appo-dropdown-item" data-product="货物收发系统">货物收发系统</div>
                <div class="appo-dropdown-item" data-product="定制开发(APP/小程序/网站)">定制开发(APP/小程序/网站)</div>
            </div>
        </div>
        <label class="input-box">
            <input name="case_remarks" value="" type="text" placeholder="请填写备注信息">
        </label>
        <div id="case_info_submit" class="btn">立即预约</div>
    </div>
</div>
<!-- 演示弹窗 E -->


        <!-- 预约 S -->
<div class="appointment">
    <div class="container">
        <div class="common-title">
            <div class="title">现在，免费预约演示</div>
        </div>
        <div class="appointment-box delay2">
            <input type="text" class="appointment-input" placeholder="请填写您的手机号">
            <div id="appointment-btn" class="btn appointment-btn">预约演示</div>
        </div>
    </div>
</div>
<!-- 预约 E -->
<!-- 底部 S -->
<div class="footer">
    <div class="container">
        <div class="footer-box">
            <div class="footer-contact">
                <img src="static/picture/footer_logo.svg" class="footer-logo delay1">
                <img src="static/picture/footer_slogan.svg" class="footer-slogan delay2">
                <div class="footer-contact-info delay2">
                    <div class="space-between">
                        <div>
                            <div>林枫（全国销售总监）</div>
                            <div class="number">135-3227-0246</div>
                        </div>
                        <div>
                            <div>Roy Chong（澳门销售总监）</div>
                            <div class="number">+863-68697345</div>
                        </div>
                    </div>
                    <div>邮箱：hugh@duandiankeji.cn</div>
                    <div>地址：广东省横琴新区横琴澳门青年创意谷20栋D座319室</div>
                </div>
            </div>
            <div class="footer-qrcode-box delay1">
                <img src="static/picture/qrcode.svg" class="footer-qrcode">
                <div>官方公众号</div>
            </div>
            <div class="footer-nav">
                <div class="footer-nav-box">
                    <div class="footer-nav-title delay1">产品矩阵</div>
                    <div>
                        <a href="index2.html" class="footer-nav-link delay3">全域会员</a>
                        <a href="index2.html" class="footer-nav-link delay3">全触点营销</a>
                        <a href="index2.html" class="footer-nav-link delay3">全渠道交易</a>
                        <a href="index2.html" class="footer-nav-link delay3">全场景预约</a>
                        <a href="index2.html" class="footer-nav-link delay3">云供应链</a>
                    </div>
                </div>
                <div class="footer-nav-box">
                    <div class="footer-nav-title delay1">定制服务</div>
                    <div>
                        <a href="index2.html" class="footer-nav-link delay3">小程序</a>
                        <a href="index2.html" class="footer-nav-link delay3">移动APP</a>
                        <a href="index2.html" class="footer-nav-link delay3">H5</a>
                        <a href="index2.html" class="footer-nav-link delay3">PC端</a>
                    </div>
                </div>
                <div class="footer-nav-box">
                    <div class="footer-nav-title delay1" style="margin-right: 0;">解决方案</div>
                    <div>
                        <a href="index2.html" class="footer-nav-link delay3">运动场馆行业解决方案</a>
                        <a href="index2.html" class="footer-nav-link delay3">演出汇演行业解决方案</a>
                        <a href="index2.html" class="footer-nav-link delay3">景区景点行业解决方案</a>
                        <a href="index2.html" class="footer-nav-link delay3">快消行业解决方案</a>
                        <a href="index2.html" class="footer-nav-link delay3">消费连锁行业解决方案</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-friendly">
            <span class="footer-friendly-title">友情链接：</span>
                        <a href="https://duandiankeji.cn/" target="_blank" class="footer-friendly-link">珠海网站开发</a>
                        <a href="https://duandiankeji.cn/" target="_blank" class="footer-friendly-link">珠海APP开发</a>
                        <a href="https://duandiankeji.cn/" target="_blank" class="footer-friendly-link">珠海小程序开发</a>
                        <a href="###" class="footer-friendly-link exchange">交换友链</a>
        </div>
        <div class="footer-beian">
            © 2017-2021 <a href="index.html">广东端点科技有限公司</a> <a><img src="static/picture/beian.svg" alt="">粤公网安备
            44040202001122号</a> <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备17037203号-3</a>
        </div>
    </div>
</div>
<!-- 底部 E -->
<!-- 演示弹窗 S -->
<div class="mask" id="old-mask" style="display: none;"></div>
<div class="case-window" id="old-case-window" style="display: none;">
    <img src="static/picture/close.svg" class="btn case-window-close">
    <div class="case-window-left">
        <div class="box">
            <div class="title"><span>预约演示</span></div>
            <div class="subtitle">您将获得以下信息：</div>
            <div class="info">
                <div class="info-item">
                    <i class="iconfont icon-xuanze"></i>
                    <span>解决方案的详细介绍，帮您快速了解产品</span>
                </div>
                <div class="info-item">
                    <i class="iconfont icon-xuanze"></i>
                    <span>演示体验后台，快速了解功能及流程</span>
                </div>
                <div class="info-item">
                    <i class="iconfont icon-xuanze"></i>
                    <span>专业方案顾问，为您提供个性化方案沟通</span>
                </div>
            </div>
            <div class="contact">商务经理：林枫
                联系电话：+86 13532270246
                邮箱地址：hugh@duandiankeji.cn
            </div>
            <div class="qrcode1">
                <img src="static/picture/qrcode.svg">
                <div class="qrcode-name">微信联系</div>
            </div>
        </div>
    </div>
    <div class="case-window-right">
        <label class="input-box reg">
            <input name="name" value="" type="text" placeholder="请填写姓名">
        </label>
        <label class="input-box reg">
            <input name="phone" value="" type="text" placeholder="请填写手机号">
        </label>
        <label class="input-box">
            <input name="company" value="" type="text" placeholder="请填写公司名称">
        </label>
        <div class="input-box sls">
            <span id="productresult">请选择希望使用的产品</span>
            <img src="static/picture/drop1.svg" class="drop">
            <div class="appo-dropdown">
                <div class="appo-dropdown-item" data-product="端点智店">端点智店</div>
                <div class="appo-dropdown-item" data-product="WMS系统">WMS系统</div>
                <div class="appo-dropdown-item" data-product="货物收发系统">货物收发系统</div>
                <div class="appo-dropdown-item" data-product="定制开发(APP/小程序/网站)">定制开发(APP/小程序/网站)</div>
            </div>
        </div>
        <label class="input-box">
            <input name="remarks" value="" type="text" placeholder="请填写备注信息">
        </label>
        <div id="info_submit" class="btn">立即预约</div>
    </div>
</div>
<!-- 演示弹窗 E -->

        

<script>
  changeNavActive(1);
  // 导航栏选择状态
  function changeNavActive(num) {
        $('.header-nav-link').removeClass('active')
        $('#nav_' + num).addClass('active')
    }
  var list = []
  $(function () {
  
    var page = 1
      // 获取列表
      function getList() {
          $.ajax({
              url:"/index/customercase/list",
              data:{"category_id":0,"page":page,num: 9},
              type:"POSt",
              success:function(req){
                  console.log(req)
                  list = list.concat(req.data.data)
                  var tempHTML = ''

                  // 是否显示加载更多
                  page >= req.data.last_page ? $("#listLoad").hide() : $("#listLoad").show() 
                  // 暂无数据
                  list.length == 0 ? $('.list-load-nodata').show() : $('.list-load-nodata').hide()
                  page += 1
                  $('#list').html('')
                  for (var i = 0; i < list.length; i++) {
                      var t = list[i]
                      tempHTML += '\
                      <div class="customer-cases-item '+t.color+'" data-source="'+t.title+'" onclick="showAppo(event,'+i+')">\
                          <div class="pic" style="background-image: url('+t.image+')"></div> \
                          <div class="box"> \
                              <div class="brand-logo" style="background-image: url('+t.logo_image+')"></div> \
                              <div class="name">'+t.title+'</div> \
                              <div class="words">'+getkeywords(t.keywords)+'</div> \
                              <div class="desc">'+t.Introduction+'</div> \
                              <div class="category-type '+t.color+'" style="display:'+(t.industry ? 'inline-block' : 'none')+'">'+t.industry+'</div> \
                          </div> \
                      </div>'
                  }
                  $('#list').append(tempHTML)
              }
          });  
      }
      // 处理案例关键词
      function getkeywords(arr) {
          var fStart = '<strong>',
              fEnd = '</strong>'
              tempHTML = ''
          
          for (let i = 0; i < arr.length; i++) {
              tempHTML += fStart + arr[i] + fEnd
          }
          return tempHTML
      }
      getList()
      // 加载更多
      $("#listLoad").click(getList)
 
      // 页面加载后触发动画效果
      $('.wms-banner .animated').addClass('fadeInUp')
      // 滚动触发动画效果
      $(window).scroll(function(e) {
          var scrollTop = document.documentElement.scrollTop
          var triggerTop = scrollTop + window.innerHeight
  
          if(triggerTop > $('.ss-description').offset().top ) {
              $('.ss-description .delay1').addClass('fadeIn')
              $('.ss-description .delay2').addClass('fadeInUp')
              $('.ss-description .delay3').addClass('fadeInUp')
          }
          if(triggerTop > $('.ss-operate.operate1').offset().top ) {
              $('.ss-operate.operate1 .animated').addClass('fadeInUp')
          }
          if(triggerTop > $('.ss-operate.operate2').offset().top ) {
              $('.ss-operate.operate2 .animated').addClass('fadeInUp')
          }
          if(triggerTop > $('.ss-operate.operate3').offset().top ) {
              $('.ss-operate.operate3 .animated').addClass('fadeInUp')
          }
          if(triggerTop > $('.ss-function').eq(0).offset().top ) {
              $('.ss-function').eq(0).find('.delay1').addClass('fadeIn')
              $('.ss-function').eq(0).find('.delay2').addClass('fadeInUp')
              $('.ss-function').eq(0).find('.delay3').addClass('fadeInUp')
          }
          if(triggerTop > $('.ss-function').eq(1).offset().top ) {
              $('.ss-function').eq(1).find('.delay1').addClass('fadeIn')
              $('.ss-function').eq(1).find('.delay2').addClass('fadeInUp')
              $('.ss-function').eq(1).find('.delay3').addClass('fadeInUp')
          }
          if(triggerTop > $('.ss-cases').offset().top ) {
              $('.ss-cases .delay1').addClass('fadeIn')
              $('.ss-cases .delay2').addClass('fadeInUp')
          }
  
          if (triggerTop > $('.appointment').offset().top) {
              $('.appointment .common-title').addClass('animated fadeIn')
              $('.appointment .appointment-box').addClass('animated fadeInUp')
          }
          if (triggerTop > $('.footer').offset().top) {
              $('.delay1').addClass('animated fadeInUp')
              $('.delay2').addClass('animated fadeInUp')
              $('.delay3').addClass('animated fadeInUp')
          }
      })

    $('.ssft1 .ss-function-tabbar-item').hover(function() {
      $('.ssft1 .ss-function-tabbar-item').removeClass('active')
      $(this).addClass('active')
    })
    $('.ssft2 .ss-function-tabbar-item').hover(function() {
      $('.ssft2 .ss-function-tabbar-item').removeClass('active')
      $(this).addClass('active')
    })

    // 表单提交
    $('#smart_info_submit').click(function (e) {
      let name = $("input[name='smart_name']").val();
      let phone = $("input[name='smart_phone']").val();
      let company = $("input[name='smart_company']").val();
      let product = $('#productresult').text();
      let remarks = $("input[name='smart_remarks']").val();
      let source = formSource;
      if (name == "" || name == null || name == undefined){
        alert('姓名不能为空');return
      }
      if (phone == "" || phone == null || phone == undefined){
        alert('手机号不能为空');return
      }
      if (!tel_reg.test(phone)) {
        alert('请输入正确的手机号');return
      }
      $.ajax({
        url:"/index/index/form",
        dataType:"json",
        async:true,
        data:{"name":name, "phone":phone, "company":company, "product":product, "remarks":remarks,'source':source},
        type:"POSt",
        success:function(req){
          $("input[name='smart_name']").val('');
          $("input[name='smart_phone']").val('');
          $("input[name='smart_company']").val('');
          $("input[name='smart_product']").val('');
          $("input[name='smart_remarks']").val('');
          if(req['code'] == 1){
            alert(req['msg']);
          }else{
            alert(req['msg']);
          }
        }
      });
    })
  });
  // 表单来源
  function showAppo(e, index) {
        formSource = e.currentTarget.dataset.source
        $('.case-window-left').hide()
        $('.case-window-left').eq(list[index].info_status).show()
        if(list[index].info_status == 1) {
            console.log(list[index])
            if(list[index].link) {
                $('#linkbox').show()
                $('#link').text(list[index].link).attr('href',list[index].link)
            }
            if(list[index].android_qrcode_image) {
                $('#case-qrcode').show()
                $('#androidbox').show()
                $('#android').attr('src',list[index].android_qrcode_image)
                
            }
            if(list[index].ios_qrcode_image) {
                $('#case-qrcode').show()
                $('#iosbox').show()
                $('#ios').attr('src',list[index].ios_qrcode_image)
                
            }
            if(list[index].wechat_qrcode_image) {
                $('#case-qrcode').show()
                $('#wechatbox').show()
                $('#wechat').attr('src',list[index].wechat_qrcode_image)
            }
        }
        $('#new-mask').show()
        $('#new-case-window').show()

    }
  </script>


        <!-- 共用 S -->
<script>
    // 导航栏选择状态
    function changeNavActive(num) {
        $('.header-nav-link').removeClass('active')
        $('#nav_' + num).addClass('active')
    }

    var tel_reg =/^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(16[0-9]{1})|(17[0-9]{1})|(19[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
    $(function () {
        // 表单来源
        var formSource = ''
        // 提交预约
        $('.sumbit-appo-input').click(function (e) {
            // 只提交手机号和来源
            formSource = 1
            console.log($('.appointment-input').val())
        })

        // 演示弹窗
        $('.showappo').click(function (e) {
            // 来源
            formSource = e.currentTarget.dataset.source
            // $('.mask').show()
            // $('.case-window').show()
            $('#old-mask').show()
            $('#old-case-window').show()
        })
        $('.case-window-close,.mask').click(function (e) {

            $('.mask').hide()
            $('.case-window').hide()
            $('.case-window-left').eq(0).show()
            $('.qrcode2').hide()
            $('.input-box.sls').removeClass('active')
            $('#productresult').text('请选择希望使用的产品')
            $('#new-productresult').text('请选择希望使用的产品')
            $('.case-window-left').show()
            $('.appo-dropdown').hide()
        })

        // 演示弹窗选择产品
        $('.input-box.sls').click(function (e) {

            $('.appo-dropdown').show()
        })
        $('.appo-dropdown-item').click(function (e) {
            e.stopPropagation()
            $('.appo-dropdown').hide()
            $('.input-box.sls').addClass('active')
            $('#productresult').text(e.currentTarget.dataset.product)
            $('#new-productresult').text(e.currentTarget.dataset.product)
        })

        // 表单提交
        $('#info_submit').click(function (e) {
            let name = $("input[name='name']").val();
            let phone = $("input[name='phone']").val();
            let company = $("input[name='company']").val();
            let product = $('#productresult').text();
            let remarks = $("input[name='remarks']").val();
            let source = formSource;
            if (name == "" || name == null || name == undefined){
                alert('姓名不能为空');return
            }
            if (phone == "" || phone == null || phone == undefined){
                alert('手机号不能为空');return
            }
            if (!tel_reg.test(phone)) {
                alert('请输入正确的手机号');return
            }
            $.ajax({
                url:"/index/index/form",
                dataType:"json",
                async:true,
                data:{"name":name, "phone":phone, "company":company, "product":product, "remarks":remarks,'source':source},
                type:"POSt",
                success:function(req){
                    $("input[name='name']").val('');
                    $("input[name='phone']").val('');
                    $("input[name='company']").val('');
                    $("input[name='product']").val('');
                    $("input[name='remarks']").val('');
                    if(req['code'] == 1){
                        alert(req['msg']);
                    }else{
                        alert(req['msg']);
                    }
                }
            });
        })
        $('#appointment-btn').click(function (e){
            let phone = $(".appointment-input").val();
            let source = formSource;
            if (phone == "" || phone == null || phone == undefined){
                alert('手机号不能为空');return
            }
            if (!tel_reg.test(phone)) {
                alert('请输入正确的手机号');return
            }
            $.ajax({
                url:"/index/index/form_appointment",
                dataType:"json",
                async:true,
                data:{"phone":phone,"source":source},
                type:"POSt",
                success:function(req){
                    $(".appointment-input").val('');
                    if(req['code'] == 1){
                        alert(req['msg']);
                    }else{
                        alert(req['msg']);
                    }
                }
            });
        })
        // 滚动时头部添加效果
        $(window).scroll(function(e) {
            var scrollTop = document.documentElement.scrollTop
            if (scrollTop > 0) {
               $('#headerbg').addClass('active')
            } else {
               $('#headerbg').removeClass('active')
            }
        })
        // 下拉时头部与滚动后的效果一样
        $('.header-nav-link-more').hover(function(e) {
            $('#headerbg').addClass('active')
        }, function(e) {
            if (document.documentElement.scrollTop == 0) {
                $('#headerbg').removeClass('active')
            }
        })
    });
</script>
<!-- 共用 E -->


    </body>

</html>
