 <!--top-->
 <div class="ys-admin-top">
    <div class="fr row">
        <a class="block pt-17 pb-15 mr-35 pr-5 c-a1a3aa" href="/" target="_blank">
        <i class="ico ico-pc mr-2 pos-r t-2"></i>网站
        </a>
        <div class="ys-admin-avator ml-15 mt-13 mr-20">
        <img src="/static/admin/img/pic-avator.png" alt="">
        </div>
        <div @click="slidequit" data-info="<%=admin.permission%>" class="ys-admin-user pt-17 mr-10 c-a1a3aa pointer pos-r">
        <span class="mr-4"><%=admin.level_name%></span>|
        <span class="ml-4"><%=admin.name%></span>
        <i class="ico ico-down ml-7 mr-7"></i>
        </div>
        <div class="ys-admin-equit pd-10 c-a1a3aa pointer">
            <i class="ico ico-equit pos-r t-1 ml-5"></i>
            <span class="ml-5">退出</span>
        </div>
    </div>
</div>
