.body{
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.pd-20{
	padding: 20px;
}
.bg-3485d1{
	background-color: #3485d1;
}
.c-005aa0{
	color:#005aa0
}
.border-b{
	border-bottom: 1px solid #ddd;
}
.logo{
	width: 166px;
	height: 37px;
	background: url(../img/logo.png);
	background-size: cover;
	color:rgba(0,0,0,0)
}
.nav{
	padding: 10px;
}
.nav li{
	width: 118px;
	margin-bottom: 5px;
}
.nav li>a{
	color:#fff;
	font-size: 14px;
	font-weight: bold;
}
swiper{
	height:200px;
	overflow: hidden;
}
.swiper-title{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255,255,255,.4);
}
.swiper-pagination {
	text-align: right !important;
}
.title{
	border-bottom: 4px solid #f2f2f2;
	font-weight: bold;
}

.title>a.pos-r::after{
	display: inline-block;
	content: '';
	width: 100%;
	height: 4px;
	border-radius: 1px;
	background: #f6d32f;
	position: absolute;
	bottom: -4px;
	left: 0;
}

.small {
	font-weight: normal;
}

.news-time {
	border-right: 1px solid #eeeeee;
}

.day {
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}
.more{
	color: #3e93cf;
	font-size: 14px;
	float: right;
	margin-top: 5px;
	font-weight: normal;
}

.mt{
	background-color: #e8e8e8;
	padding: 20px;
}

.bg-3a3a3a{
	background-color: #3a3a3a;
}

.list-img{
	width: 120px;
	height: 80px
}

.article-cont{
	
}

.article-cont p{
	text-indent: 2em;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 25px;
}

.position{
	font-family: simsun;
	color: #999;
	position: relative;
	padding-left: 22px;
}
.position::after{
	content: '';
    width: 17px;
    height: 17px;
    background: url(../img/ico-position.jpg) no-repeat;
    position: absolute;
    left: 0;
}

.position a{
	color: #999;
}
.tiyuju{
	border-top: 10px solid #eee;
	border-left: 10px solid #eee;
	border-bottom: 10px solid #eee;
}

.hujintao{
	border-top: 10px solid #eee;
	border-right: 10px solid #eee;
	border-bottom: 10px solid #eee;
}