/* 左侧列表 */
.list-left{
	/* width:900px;
	height: 980px; */
	border: 1px solid #efefef;
	box-shadow: 0 0 6px #ddd;
}
.list-left ul{
	padding:20px;
}
.list-left li{
	padding-left: 8px;
	padding-right: 8px;
	border-bottom: 1px dotted #ddd;
}
.list-left li:hover{
	transition: all 0.4s linear 0s;
	background: #f8f8f8;
}

.list-left h3:hover::before{
	transform: rotate(0deg);
	background: #4a83bf;
} 
.list-left h3::before{
	transition: all 0.4s linear 0s;
	content:'';
    position: absolute;
    width: 6px;
    height: 6px;
    top: 8px;
    left: 3px;
    background: #94b0ce;
    transform: rotate(135deg);
}

.list-right{
	width: 280px;
}
.aside li::before{
	content:'';
	position: absolute;
	width: 4px;
	height: 4px;
	top: 9px;
	left: 3px;
	background: #94b0ce;
	border-radius: 50%;
}

.list-img{
	width: 120px;
	height: 80px;
}

.page{
	text-align: center;
}
.num-page{
	margin-right: 5px;
}
.page>a{
	display: inline-block;
	padding:5px 12px;
	border-radius: 4px;
	border:1px solid #ddd ;
	font-size: 14px;
	color: #999;
}
.page>a.active-page{
	background: #0F9AE0;
	color: #fff;
}

.aside-nav{
	background: #005aa0;
	color: #fff;
	text-align: center;
}
.aside-nav-sub li{
	color: #005aa0;
	}
	.aside-nav-sub li a:hover{
		background-color: #F2F2F2;
	}
.article-cont p{
	margin-top: 15px;
	margin-bottom: 15px;
	color: #111;
	font-size: 12px;
}


.border-b{
	border-bottom: 1px solid #eee!important;
}



.page {
	background-color: #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}

.page ul li {
    float: left;
    border: 1px solid #e3e3e3;
    padding: 6px 9px;
    margin-right: 10px;
    color: #666;
	border-radius: 2px;
	
}

.page ul li a {
    color: #666;
}
.page ul li a:hover {
    cursor: pointer;
}
.page ul li.active {
    border: none;
    background-color: #10c55b;
    color: #fff;
}

.page ul li.active a {
    color: #fff;
}

.w-60{
	width: 60px;
}