@font-face {
  font-family: "iconfont"; /* Project id 2605247 */
  src: url('../font/font_2605247_u3ake4u2iq.woff2') format('woff2'),
       url('../font/font_2605247_u3ake4u2iq.woff') format('woff'),
       url('../font/font_2605247_u3ake4u2iq.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e621";
}

.icon-lianjie:before {
  content: "\e754";
}

.icon-jiantou_qiehuanyou:before {
  content: "\eb05";
}

.icon-xuanze:before {
  content: "\e607";
}

.icon-youbian:before {
  content: "\e60d";
}

.icon-weibo:before {
  content: "\e601";
}

.icon-qq:before {
  content: "\e66f";
}

.icon-weixin:before {
  content: "\e622";
}

.icon-city_zhuhai:before {
  content: "\e7d0";
}

.icon-daohang1:before {
  content: "\e600";
}

.icon-zhuanli:before {
  content: "\e670";
}

.icon-shijian:before {
  content: "\e669";
}

.icon-guanbi:before {
  content: "\e60c";
}

