@charset "utf-8";
/*banner轮播图 样式*/
.swiper-banner .swiper-slide a, .swiper-banner .swiper-slide img{
	width: 100%;
}
.swiper-pagination-bullet{
    background: #9fa2aa;
    opacity: 1;
}
.swiper-pagination-bullet-active{
	width: 24px;
	border-radius: 12px;
	background: #f38f23;
}

/*站内公告 样式*/
.notice{
	padding: 5px 8px;
	background: #f96868;
	border-radius: 8px;
}
.notice-list li a{
	font-size: 14px;
	color: #666;
}
.notice-list li{}

/*我们提供服务 样式*/
.column ul li{
	width: 295px;
	height: 380px;
	background: #f5f5f5;
	padding: 30px 20px;
	float: left;
	margin-right: 20px;
}
.column ul li:nth-last-of-type(1){
	margin-right: 0;
}
.column ul li:hover, .case .case-tc ul li:hover, .share-tc ul li:hover{
	box-shadow: 0px 0px 16px rgba(102,102,102,.3);
	cursor: pointer;
}
.category{
	width: 124px;
	height: 124px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #5a9ce0;
}
.category img{ 
	margin: 34px auto;
}

/*网站案例 样式*/
.case .case-th span, .share .share-th span{
	padding: 14px 24px;
	border: 1px solid #ddd;
	margin-right: 24px;
}
.case .case-tc ul li{
	margin-bottom: 20px;
}
.case .case-tc ul li a{
	width: 302.5px;
}
.case .case-tc ul li figure{
	width: 100%;
	height: 205px;
}
.case .case-tc ul li figure img{
	width: 100%;
}
.case .case-tc ul li{
	margin-right: 10px;
	float: left;
}
.case .case-tc ul li:nth-of-type(4n){
	margin-right: 0;
}
.case .case-tc ul li a, .share-tc ul li a{
	display: block; 
}

/*建站分享 样式*/
 .share-tc ul{
 	padding-bottom: 15px;
 	overflow: hidden;
 }
 .share-tc ul li figure{
 	border: 1px solid #ddd;
 }
.icon.icon-big-more{
	width: 97px;
	height: 26px;
	background: url(../img/icon-big-more.png) no-repeat;
	background-size: cover;
}
.icon.icon-big-more:hover{
	background: url(../img/icon-big-more-hover.png) no-repeat;
	background-size: cover;
}

/*服务流程 样式*/
.service-bg{
	background: url(../img/bg-01.jpg) no-repeat;
}
.service-flow ul li{
	float: left;
	margin-right: 100px;
	text-align: center;
}
.service-flow ul li:nth-last-of-type(1){
	margin-right: 0;
}
.service-flow ul li figure{
	width: 120px;
	height: 120px;
}
.service-flow ul li span{
	font-size: 18px;
	color: #fff;
	margin-top: 8px;
}
.share-tc ul li{
	width: 50%;
	float: left;
	padding: 15px;
}
.share-tc ul li .share-info{
	width: calc(100% - 184px);
	width: -moz-calc(100% - 184px);
	width: -webkit-calc(100% - 184px);
	padding-left: 20px;
	padding-right: 20px;
}
/*.share-info-title{
	position: relative;
}
.share-info-title:after{
	content: '';
	width: 100%;
	height: 1px;
	background-color: #ddd;
	position: absolute;
	left: 0;
	bottom: -12px;
}*/