<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="telephone=no, email=no" />
    <link rel="stylesheet" type="text/css" href="css/mkui-0.5.css" />
    <link rel="stylesheet" type="text/css" href="css/shijieqigong.css" />
    <title>首页</title>
</head>

<body class="bg-f8f8f8">
    <header class="header bg-fff shadow-b">
        <div class="w-1200 center row space-b">
            <div class="logo pt-17 ml-15">
                <h1>
                    <a href="/">世界气功</a>
                </h1>
            </div>

            <div class="search pt-30">
                <div class="search-cont">
                    <input type="search" class="search-input w-p100 h-p100 pl-10 pr-35 c-333" placeholder="请输入您所想了解的内容" />
                    <button class="f-14">
                        <i class="ico-20 ico-search fl"></i>
                        <span class="mt-3 ml-4">搜索</span>
                    </button>
                </div>

                <p class="hotwords c-999 pl-12 pt-3">
                    热门搜索：
                    <a href="" target="_blank">真气运行法</a>
                    <a href="" target="_blank">太极</a>
                    <a href="" target="_blank">武当纯阳功</a>
                    <a href="" target="_blank">瑜伽</a>
                    <a href="" target="_blank">郭林抗癌气功</a>
                </p>
            </div>

            <div class="language pt-20">
                <p class="mt-15 f-14 c-333"><a href="javascript:t22s()">简体</a> | <a href="javascript:s22t()">繁体</a></p>
            </div>
        </div>

    </header>

    <nav class="nav center w-1200 bg-fff pd-15 mt-20">
        <ul class="overflow-h">
            <li>
                <a href="" target="_blank">气功新闻</a>
            </li>
            <li>
                <a href="" target="_blank">学术交流</a>
            </li>
            <li>
                <a href="" target="_blank">体育气功</a>
            </li>
            <li>
                <a href="" target="_blank">医学气功</a>
            </li>
            <li>
                <a href="" target="_blank">养生气功</a>
            </li>
            <li>
                <a href="" target="_blank">太 极</a>
            </li>
            <li>
                <a href="" target="_blank">瑜 伽</a>
            </li>
            <li>
                <a href="" target="_blank">气功医案</a>
            </li>
            <li>
                <a href="" target="_blank">气功与书画</a>
            </li>
            <li>
                <a href="" target="_blank">气功人物</a>
            </li>
            <li>
                <a href="" target="_blank">人体科学</a>
            </li>
            <li>
                <a href="" target="_blank">功法实践</a>
            </li>
            <li>
                <a href="" target="_blank">气功纠偏</a>
            </li>
            <li>
                <a href="" target="_blank">气功培训</a>
            </li>
            <li>
                <a href="" target="_blank">气功资料</a>
            </li>
            <li>
                <a href="" target="_blank">古籍典藏</a>
            </li>
        </ul>
    </nav>

    <div class="position center w-1200 bg-fff pd-15 mt-20 f-14 c-999">
        <i class="ico-20 ico-home pos-r t-3"></i> 
        <a class="" href="" target="_blank">首页</a> >
        <a class="c-666" href="" target="_blank">太极</a>
    </div>

    <main class="center w-1200 mt-20 mb-20 overflow-h row">
        <div class="main-left flex">
            <div class="list bg-fff pd-25">
                <ul>
                    <li class="row border-b pt-20 pb-20">
                        <figure class="figure overflow-h mr-20">
                            <img src="img/p1.png" class="w-p100" alt="">
                        </figure>
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                    <li class="row border-b pt-20 pb-20">
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                    <li class="row border-b pt-20 pb-20">
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                    <li class="row border-b pt-20 pb-20">
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                    <li class="row border-b pt-20 pb-20">
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                    <li class="row border-b pt-20 pb-20">
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                    <li class="row border-b pt-20 pb-20">
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                    <li class="row border-b pt-20 pb-20">
                        <figure class="figure overflow-h mr-20">
                            <img src="img/p1.png" class="w-p100" alt="">
                        </figure>
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                    <li class="row border-b pt-20 pb-20">
                        <figure class="figure overflow-h mr-20">
                            <img src="img/p1.png" class="w-p100" alt="">
                        </figure>
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                    <li class="row border-b pt-20 pb-20">
                        <figure class="figure overflow-h mr-20">
                            <img src="img/p1.png" class="w-p100" alt="">
                        </figure>
                        <div class="flex">
                            <h3 class="f-16 c-333 bold mt-10"><a href="" target="_blank">杨氏太极拳</a></h3>
                            <p class="f-12 c-999 mt-5 mb-15">
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604） 
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </p>
                            <p class="lh-22 c-666 f-14"><a href="" target="_blank">杨氏太极拳是历史悠久的拳术，太极拳的重要流派之一，
                                是由河北省邯郸市永年人杨露禅及其子杨班侯、杨健侯，
                                其孙杨少侯、杨澄甫等人发展创编的。由于杨氏太极拳姿
                                势开展，平正朴实，练法简易，因此他深受广大群众热爱，
                                开展得最为广泛。杨式太极拳对手眼身法步有严格的要求...</a></p>
                        </div>
                    </li>
    
                </ul>
            </div>
            
            <div class="page mt-25 bg-fff pd-25 row">
                <ul class="overflow-h center">
                    <li><a href="">上一页</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li class="active"><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">...</a></li>
                    <li><a href="">下一页</a></li>
                </ul>
            </div>


        </div>

        <div class="main-right ml-20 w-235">
            <div class="aside-list mb-20 bg-fff pd-15">
                <h3 class="c-333 f-16  mb-5 mt-5">
                    <i class="ico-20 ico-hot pos-r t-3 mr-12"></i>热门文章</h3>
                <ul class="c-666 f-14">
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">日答吕碧城女士三十六问--陈撄宁</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">日观音莲花减肥坐功</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">发自内心的微笑健康秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                </ul>
            </div>

            <div class="mb-20">
                <a href="" target="_blank">
                    <img src="img/ad3.png" alt="">
                </a>
            </div>

            <div class="aside-list mb-20 bg-fff pd-15">
                <h3 class="c-333 f-16 mb-5 mt-5 row row-c space-b">
                    <span>
                        <i class="ico-20 ico-taiji pos-r t-3 mr-12"></i>太极</span>
                    <a class="more f-12 pos-r t-4" href="" target="_blank">>>更多</a>
                </h3>
                <ul class="c-666 f-14">
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">日答吕碧城女士三十六问--陈撄宁</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">日观音莲花减肥坐功</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">发自内心的微笑健康秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                </ul>
            </div>

            <div class="mb-20">
                <a href="" target="_blank">
                    <img src="img/tj.jpg" alt="">
                </a>
            </div>

            <div class="aside-list mb-20 bg-fff pd-15">
                <h3 class="c-333 f-16 mb-5 mt-5 row row-c space-b">
                    <span>
                        <i class="ico-20 ico-yujia pos-r t-3 mr-12"></i>瑜伽</span>
                    <a class="more f-12 pos-r t-4" href="" target="_blank">>>更多</a>
                </h3>
                <ul class="c-666 f-14">
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">日答吕碧城女士三十六问--陈撄宁</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">日观音莲花减肥坐功</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">发自内心的微笑健康秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                    <li>
                        <a href="" class="ellips-1" target="_blank">修梦秘法</a>
                    </li>
                </ul>
            </div>

            <div class="mb-20">
                <a href="" target="_blank">
                    <img src="img/yj.jpg" alt="">
                </a>
            </div>

            <div class="pd-15 mb-20 bg-fff">
                <p class="c-333 f-16 mb-5 mt-5 row row-c space-b">官方微信群</p>
                <p class="text-c mt-16 mb-16">
                    <img src="img/wx.jpg" class="inline-b" alt="微信二维码">
                </p>
                <p class="f-12 lh-20 c-666">高质量微信气功交流群 扫描以上二维码，添加好友，需要严格审核入群，名额有限，可先加下面QQ交流群。
                </p>
            </div>

            <div class="pd-15 bg-fff">
                <p class="c-333 f-16 mb-5 mt-5 row row-c space-b">官方QQ交流群</p>
                <div class="f-14 lh-22 pt-10">
                    <p class="c-666">世界气功网(1) 1234564634</p>
                    <p class="c-666">世界气功网群(2) 1234564634</p>
                    <p class="c-666">世界气功网群(3) 1234564634</p>
                </div>
            </div>

        </div>

    </main>


    <footer class="footer shadow-t bg-fff pt-35 overflow-h">
        <div class="w-1200 center pb-35">
            <ul class="row space-a mt-35">
                <li>
                    <dl>
                        <dt class="f-16 c-333 mb-12">友情链接</dt>
                        <dd class="lh-26 c-999">
                            <a class="block" href="">香港日报 </a>
                            <a class="block" href="">国际大健康运动联盟</a>
                            <a class="block" href="">国际健康健美长寿论坛</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="f-16 c-333 mb-12">联系方式</dt>
                        <dd class="c-999">
                            <p><i class="ico-20 ico-addr pos-r t-3 mr-5"></i>香港湾仔告士打道151号资本中心11楼</p>
                            <p><i class="ico-20 ico-email pos-r t-3 mr-5"></i>mzwen@126.com</p>
                            <p><i class="ico-20 ico-tel pos-r t-3 mr-5"></i>18681858718</p>
                            <p><i class="ico-20 ico-user pos-r t-3 mr-5"></i>麻先生</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="f-16 c-333 mb-12">技术支持</dt>
                        <dd class="c-999">
                            <p><i class="ico-20 ico-qq pos-r t-3 mr-5"></i>867528315 </p>
                            <p><i class="ico-20 ico-wx pos-r t-3 mr-5"></i>13366826071</p>
                            <p><i class="ico-20 ico-user pos-r t-3 mr-5"></i>明空</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="f-16 c-333 mb-12">文章发布，广告合作</dt>
                        <dd>
                            <a class="mt-15" href=""><img src="img/ico-hz.png" alt="加我合作"></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <p class="text-c f-12 c-999  mb-35">Copyright 2018-2021  世界气功网  世界大健康运动联盟主办 中国—香港</p>
    </footer>
   
</body>

</html>