<header class="header bg-fff shadow-b">
    <div class="w-1200 center row space-b">
        <div class="logo pt-17 ml-15">
            <h1>
                <a href="/">世界气功</a>
            </h1>
        </div>


        <div class="search pt-30">
            <div class="search-cont">
                <form action="/search">
                    <input type="hidden" name="type" value="1">
                <input type="search" name="keyword" class="search-input w-p100 h-36 pl-10 pr-35 c-333" placeholder="请输入您所想了解的内容" />
                <button class="f-14" onclick="submit()">
                    <i class="ico-20 ico-search fl"></i>
                    <span class="mt-3 ml-4">搜索</span>
                </button>
             </form>
            </div>

            <p class="hotwords c-999 pl-12 pt-3">
                热门搜索：
                <a href="/search?type=1&keyword=真气运行法">真气运行法</a>
                <a href="/search?type=1&keyword=太极">太极</a>
                <a href="/search?type=1&keyword=武当纯阳功">武当纯阳功</a>
                <a href="/search?type=1&keyword=瑜伽">瑜伽</a>
                <a href="/search?type=1&keyword=郭林抗癌气功">郭林抗癌气功</a>
            </p>
        </div>

        <div class="language pt-20">
            <p class="mt-15 f-14 c-333"><a href="javascript:t22s()">简体</a> | <a href="javascript:s22t()">繁体</a></p>
        </div>
    </div>

</header>