<!-- wrap-left -->
<section class="ys-admin-wrap-left w-170 bg-434B6C">
    <!-- logo -->
    <div class="logo pt-14 pl-16 pt-16 row border-b-495172">
        <span class="flex">
            <img src="/static/admin/img/logo.png" alt="">
        </span>
        <i class="ico ico-category mr-20"></i>
    </div>
    <!-- 导航 -->
    <nav class="ys-admin-nav">
        <ul>
            <li>
                <dl>
                    <dt class="f-14 row bg-434B6C">
                        <i class="ico mr-10 mt-16 ico-home"></i>
                        <span class="flex">首页</span>
                        <i class="ico ico-down pos-r t-20"></i>
                    </dt>

                    <dd class="f-14 c-abb2cd overflow-h">
                        <a data-href="/admin/info" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>首页管理
                            </span>
                        </a>
                        <a data-href="/admin/web" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>站点信息
                            </span>
                        </a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="f-14 row bg-434B6C">
                        <i class="ico mr-10 mt-16 ico-content"></i>
                        <span class="flex">内容</span>
                        <i class="ico ico-down pos-r t-20"></i>
                    </dt>
                    <dd class="f-14 c-abb2cd overflow-h">
                        <a data-href="/admin/category" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>栏目管理
                            </span>
                        </a>
                        <a data-href="/admin/article" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>文章管理
                            </span>
                        </a>
                        <a data-href="/admin/house" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>房产管理
                            </span>
                        </a> 
                        <a data-href="/admin/slide" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>轮播管理
                            </span>
                        </a>
                        <a data-href="/admin/ad" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>广告管理
                            </span>
                        </a>
                        <a data-href="/admin/link" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>友情链接
                            </span>
                        </a>
                        <a data-href="/admin/ly" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>在线留言
                            </span>
                        </a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="f-14 row bg-434B6C">
                        <i class="ico mr-10 mt-16 ico-user"></i>
                        <span class="flex">会员</span>
                        <i class="ico ico-down pos-r t-20"></i>
                    </dt>
                    <dd class="f-14 c-abb2cd overflow-h">
                        <a data-href="/admin/user" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>会员管理
                            </span>
                        </a>
                        <a data-href="/admin/order" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>订单管理
                            </span>
                        </a>
                        <a data-href="/admin/comment" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>评论管理
                            </span>
                        </a>
                        <a data-href="/admin/msg" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>站内消息
                            </span>
                        </a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="f-14 row bg-434B6C">
                        <i class="ico mr-10 mt-16 ico-system"></i>
                        <span class="flex">系统</span>
                        <i class="ico ico-down pos-r t-20"></i>
                    </dt>
                    <dd class="f-14 c-abb2cd overflow-h">
                        <a data-href="/admin/admin" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>管理员列表
                            </span>
                        </a>
                        <a data-href="/admin/level" href="javascript:;">
                            <span class="mb-8 ml-45 mt-10">
                                <i class="ico ico-yuan mr-5"></i>管理员等级
                            </span>
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </nav>
</section>