.center {
	width: 1200px;
	margin: 0 auto;
}
.pd-20{
	padding: 20px;
}
.border-b{
	border-bottom: 1px solid #efefef;
}
.c-005aa0{
	color: #005aa0;
}
    
.header {
	height: 110px;

}

.logo {
	width: 338px;
	height: 78px;
	background: url(../img/logo.jpg);
	color: rgba(0, 0, 0, 0);
	margin-top: 13px;
}

.search {
	width: 190px;
	height: 35px;
	background: #f1f1f1;
	margin-top: 38px;
}

.search-inner {
	width: 145px;
	height: 25px;
	margin-top: 5px;
	margin-left: 5px;
	background-color: rgba(0,0,0,0);
}

.ico-search {
	width: 35px;
	height: 35px;
	background: url(../img/ico-search.jpg);
	position: absolute;
	right: 0;
	top: 0;
}

.nav-wrap {
	height: 47px;
	box-shadow: 0 0 6px #ddd;
}

.nav {
	height: 47px;
	line-height: 47px;
	font-weight: bold;
}

.nav>li {

	margin-right: 22px;
	position: relative;
}

.nav>li ul {
	display: none;
}

.nav>li a {
	padding-left: 9px;
	padding-right: 9px;
	color: #333;
	font-size: 14px;
	display: block;
}

.nav>li:hover {
	transition: 1s all;
}

.nav>li:hover::after {
	display: inline-block;
	content: '';
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background: #2879b8;
	position: absolute;
	bottom: 0;
	left: 0
}

.nav li:hover ul {
	display: block;
	width: 100%;
	min-height: 80px;
	background: #fff;
	box-shadow: 0 0 6px #ddd;
	padding: 10px;
	position: absolute;
	z-index: 1;
}

.nav>li:hover>ul li:hover {
	background-color: #fafafa;
}


/* 轮播 */

.swiper {
	width: 570px;
	height: 374px;
}

.swiper img {
	width: 570px;
	height: 374px;
}

.swiper a {
	display: block;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background: url(../img/ico-left.png) no-repeat !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background: url(../img/ico-right.png) no-repeat !important;
}

.swiper-button-next,
.swiper-button-prev {
	margin-top: -12px !important;
}

.swiper-pagination {
	text-align: right !important;
}

.swiper-pagination-bullet-active {
	background-color: #10c55b !important;
	opacity: 1;
}

.swiper-slide {
	position: relative;
}

.swiper-title {
	position: absolute;
	width: 100%;
	height: 40px;
	line-height: 40px;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
}

.swiper-title a {
	display: block;
	font-size: 12px;
	color: #333;
	padding-left: 10px;
}

/* 新闻 */
.news {
	width: 590px;
}

.title {
	border-bottom: 4px solid #f2f2f2;
	font-weight: bold;
}
.title>a.pos-r::after{
	display: inline-block;
	content: '';
	width: 100%;
	height: 4px;
	border-radius: 1px;
	background: #f6d32f;
	position: absolute;
	bottom: -4px;
	left: 0;
}

.small {
	font-weight: normal;
}

.news-time {
	border-right: 1px solid #eeeeee;
}

.day {
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}

.year {}

.news-cont li {
	height: 54px;
}

.c-3e93cf,.c-3e93cf a{
	color: #3e93cf!important;
	}
.new-footer li{
	position: relative;
	
}
.new-footer li::after{
	display: inline-block;
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #999;
	position: absolute;
	bottom: 8px;
	left: 0;
}
.w-585{
	width: 585px;
	}
.w-580{
	width:580px;
	}
.more{
	color: #3e93cf;
	font-size: 14px;
	float: right;
	margin-top: 10px;
	font-weight: normal;
}	

.mt{
	background-color: #e8e8e8;
	min-height: 140px;
	padding: 20px;
}

.bg-3a3a3a{
	background-color: #3a3a3a;
}
